
/***************************************************************************************
 * CORE STYLES
 * These reflect the basic styles used for the Reckoner master template and layout.
 ***************************************************************************************/
body {
    background-color: #f6f6f6;
    margin: 0;
}

#site-column {
    margin: 0 auto;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    width: 960px;
}

#top-bar {
    background-image: url(../images/top-bar-background.png);
    background-repeat: repeat-x;
    max-height: 146px;
}

#top-bar .top-bar-section {
    display: block;
}

#top-bar .logo-section {
    height: 117px;
}

#top-bar .logo-wrapper {
    float: left;
    margin: 7px 0 0 20px;
}

#top-bar .search-wrapper {
    float: right;
    position: relative;
    top: 3px;
    right: 7px;
}

#top-bar .login-wrapper {
    float: right;
    position: relative;
    top: 18px;
    right: 30px;
}

#top-bar .login-wrapper .login-button {
}

#top-bar .navigation-section {
	clear: both;
    top: -8px;
    position: relative;
}

#top-bar .navigation-section .nav-text-wrapper {
    text-align: center;
}

#top-bar .navigation-section .nav-text-wrapper h2 {
    color: #f6f6f6;
    font-family: Futura, "Century Gothic", Futura, "Tw Cen MT", "URW Gothic L", Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    text-transform: uppercase;
}

#top-bar .navigation-section .nav-text-wrapper a {
    color: #f6f6f6;
    font-style: normal;
    text-decoration: none;
}

#top-bar .navigation-section .nav-text-wrapper a:hover {
    color: #f6f6f6;
    font-style: normal;
    text-decoration: underline;
}

#top-bar .profile-wrapper {
	background-color: #deecf6;
	border: 2px solid #666666;
    float: right;
    height: 50px;
    padding: 4px;
    position: relative;
    top: 11px;
    right: 30px;
    width: 154px;	
}

#top-bar .profile-picture-wrapper {
	border: 1px solid #666666;
	height: 36px;
	float: left;
	margin: 0 4px 4px 0;
	width: 36px;
}

#top-bar .profile-picture-wrapper .profile-picture {
	height: 36px;
	width: 36px;
}

#top-bar .profile-picture-wrapper .profile-info {
}

#top-bar .profile-wrapper .profile-info p {
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
	font-size: 11px;
	margin: 0;
}

#top-bar .profile-wrapper .profile-info .profile-name {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
}

#content-area {
    clear: both;
    height: 100%;
}

#content-area h1 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;  
}

#content-area .page-header h1 {
    margin: 8px 0;
    text-align: center;
}

#content-area h2 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: .5em 0;
    text-transform: uppercase;  
}

#content-area .page-header h2 {
	margin: 16px 0;
	text-align: center;
}

#content-area h3 {
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
}

#content-area h4 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#content-area h5 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#content-area h6 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

#content-area p {
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#main-section {
	/* Total width here should add up to 640px - horiz padding + border + width */
    float: left;
    height: 100%;
    padding: 7px 7px 7px 7px;
    width: 625px;
}

#right-sidebar-section {
	/* Total width here should add up to 320px - horiz padding + border + width */
    float: right;
    padding: 7px 7px 7px 7px;
    width: 306px;
}

#bottom-bar {
    background-image: url(../images/bottom-bar-background.png);
    background-repeat: repeat-x;
    clear: both;
    height: 53px;
}

#bottom-bar .logo-section {
    float: left;
    margin: 2px 0 0 14px;
}

#bottom-bar .navigation-section {
    position: relative;
    top: 20px;
    right: 8px;
}

#bottom-bar .navigation-section .nav-text-wrapper {
    text-align: right;
}

#bottom-bar .navigation-section .nav-text-wrapper h3 {
    color: #f6f6f6;
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    text-transform: uppercase;
}

#bottom-bar .navigation-section .nav-text-wrapper a {
    color: #f6f6f6;
    font-style: normal;
    text-decoration: none;
}

#bottom-bar .navigation-section .nav-text-wrapper a:hover {
    color: #f6f6f6;
    font-style: normal;
    text-decoration: underline;
}

#content-area .profile-picture {
	height: 50px;
	width: 50px;
}

#content-area .section-header {
    background: transparent url('../images/reckoner-section-label_left.png') no-repeat scroll left;
	color: #f9f4f4;
	display: inline-block;
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 16px;
    font-style: italic;
    height: 42px;
    left: -6px;
    padding: 0 0 0 27px;
    position: relative;
    text-align: center;
}

#content-area .section-header span {
    background: transparent url('../images/reckoner-section-label_right.png') no-repeat scroll right;
	display: block;
	line-height: 42px;
	padding: 0 30px 0 0;
	vertical-align: middle;
}

#content-area .section-header span a {
    color: #f9f4f4;
    text-decoration: none;
}

#content-area .section-header span a:hover {
    text-decoration: underline;
}

#content-area .stat-box {
	background-color: #f1fee9;
	border: 1px solid #666666;
	display: inline-block;
    height: 55px;
    text-align: center;
    width: 65px;
}

#content-area .stat-box .count {
	font-family: "Futura", "Lucida Sans", "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 20px;
    line-height: 12px;
    margin: 14px auto 1px auto;
}

#content-area .stat-box .box-label {
	display: inline-block;
	margin: 0 auto;
    font-family: "Futura", "Lucida Sans", "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 12px;
}

#content-area .stat-box .box-label-small {
	display: inline-block;
    margin: 0 auto;
    font-family: "Futura", "Lucida Sans","Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 10px;
}

#content-area .reckoning-divider {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #BBBBBB;
    border-bottom-style: dotted;
    clear: both;
    height: 3px;
    margin: 5px auto;
    text-align: center;	
    width: 100%;
}

.flag {
    color: #0d4268;
}

.favorite {
    color: #c54913;
}

.favorite-button {
    color: #c54913;
}

.flag-button {
    color: #0d4268;
}

.float-clear {
	clear: both;
}

#content-area .messages .error {
	color: #cc0000;
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    margin: 7px auto;	
    text-align: center;
    text-transform: uppercase;
    width: 500px;
}

.regular-site-column {
    background-image: url(../images/main-background.png);
    background-repeat: repeat-y;	
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/***************************************************************************************
 * STATIC PAGE STYLES
 * Styles used for static pages heavy on the HTML content
 * (i.e. Reckoning Welcome, About, etc.)
 ***************************************************************************************/

#content-area .static-page {
	margin: 0 7px;
}

#content-area .static-page h2 {
	text-align: center;
}

#content-area .static-page h3 {
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;	
}

#content-area .static-page .highlight {
    color: #cc0000;
}

#content-area .static-page h4 {
    margin: 1.5em 0 .2em 0;
}

#post-reckoning-intro-page p {
    margin: 0;
}

#content-area .static-page p {
    margin: 1em 0;
}

#content-area .signature-block {
	background-color: #fff8e0;
	border: 1px solid #666666;
	height: 165px;
	padding: 0px;
	margin: 40px auto;
	text-align: center;
	width: 400px;
}

#content-area .signature-block h4 {
    font-size: 12px;
    margin: 5px 0;
    position: relative;
    right: 200px;
    text-align: right;
    top: -45px;
}

#login-bad-google-page h5 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
	font-size: 12px;
	text-align: center;
}

/***************************************************************************************
 * LOGIN BOX STYLES
 * Styles used for cases where a login box is displayed.
 * (i.e. Post Reckoning, Comment Box, etc.
 ***************************************************************************************/

#content-area .sign-up-box {
	background-color: #f6f6f6;
	border: 1px solid #666666;
	margin: 48px 7px;
	padding: 6px;
	width: 598px;
}

#post-reckoning-intro-page .sign-up-box {
    margin: 48px 0px;
}

#content-area .sign-up-box h2 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    font-size: 72px;
    margin: .4em 0 0 0;
    text-align: center;	
}

#content-area .sign-up-box h3 {
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    text-align: center;
    text-transform: uppercase;  
}

#content-area .sign-up-box h4 {
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;  
}

#content-area .login-buttons {
	height: 80px;
}

#content-area .login-buttons .login-button-1 {
	float: left;
	position: relative;
	top: 30px;
	left: 70px;
}

#content-area .login-buttons .login-button-2 {
	float: left;
    position: relative;
    top: 30px;
    left: 110px;
}


/***************************************************************************************
 * EDIT RECKONING & CONTENT STYLES
 * Styles used for the reckoning and content edit screens.
 ***************************************************************************************/

.edit-content-form textarea {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 11px;
}

.edit-content-form .field-wrapper
 {
    clear: both;
    padding: 8px 0;
 }
 
.edit-content-form .reckoning-form-option .field-wrapper
 {
    padding: 0;
 }
 
.edit-content-form h5
 {
    margin: 0;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
 }
 
.edit-content-form h6
 {
     margin: 0;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
 }
 
.edit-content-form p
 {
    margin: 4px 0 0 0;
 }
 
.edit-content-form .field-notation
 {
    margin: 0;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 8px;    
 }
 
 .edit-content-form .field-notation .free-text
 {
    margin: 3px 0 0 0;   
 }
 
.edit-content-form .errorlist
 {
    margin: 0;
 }
 
.edit-content-form .errorlist li
 {
    color: red;
    display: inline;
    float: right;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 6px 10px 0 0;   
    text-align: right;
    text-transform: uppercase; 
    width: 300px;
 }
 
.edit-content-form .reckoning-form-options .errorlist li
 {
    margin: 0;
    width: 100px;
 }
 
.edit-content-form .reckoning-form-option-2 .errorlist li
{
   margin: 0;
   color: #900000;
}

.edit-content-form .tooltip-icon
{
	float: right;
}

.edit-content-form .tooltip
{
	background-color: #fdfed5;
	border: 2px solid black;
    display: none;
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 8px;
    padding: 5px 10px 10px 10px;
    width: 300px;
}

#content-area .edit-content-form .tooltip p
{
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
 
.edit-content-form .question-edit-field
 {
    height: 2.5em;
    padding: 5px;
    width: 600px;
 }
 
.edit-content-form .description-edit-field
 {
    height: 12.5em;
    padding: 5px;
    width: 600px;
 }
 
.edit-content-form .answer-edit-field
 {
    float: left;
    height: 1.2em;
    padding: 5px;
    width: 185px;
 }
 
.edit-content-form .subtitle-edit-field
 {
    float: left;
    height: 1.2em;
    padding: 5px;
    width: 185px;
 }
 
.edit-content-form .tags-edit-field
 {
    height: 1.2em;
    padding: 5px;
    width: 600px;
 }
 
.edit-content-form .interval-edit-field
 {
    height: 1.2em;
    padding: 5px;
    width: 200px;
 }

.edit-content-form .commentary-edit-field
 {
    height: 12.5em;
    padding: 5px;
    width: 600px;
 }
 
.edit-content-form .reckoning-form-options {
    margin: 15px 0;
 }
 
.edit-content-form .reckoning-form-option {
    border: 1px solid black;
    height: 104px;
    padding: 15px;
 }
 
.edit-content-form .reckoning-form-option-1 {
    background-color: #d2e8c5;
    float: left;
    width: 225px;
 }
 
.edit-content-form .reckoning-form-option-2 {
    background-color: #e37878;
    float: right;
    width: 225px;
 }
 
.edit-content-form .title-edit-field
 {
    height: 2.5em;
    padding: 5px;
    width: 600px;
 }
 
.edit-content-form .body-edit-field
 {
    height: 12.5em;
    padding: 5px;
    width: 600px;
 }
 
 .edit-content-form .summary-edit-field
 {
    height: 5.5em;
    padding: 5px;
    width: 600px;
 } 
 
.edit-content-form .versus {
    font-family: Haettenschweiler, Impact, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    font-size: 48px;
    line-height: 135px;
    margin: 0 auto;
    text-align: center;
    width: 50px;
} 
 
.edit-content-form .form-buttons
 {
    margin: 30px 0;
    text-align: center;
 }
 
.edit-content-form .button
 {
    width: 100px;
 }


/***************************************************************************************
 * POST RECKONING STYLES
 * Styles used specifically in the Post Reckoning Page
 ***************************************************************************************/

#post-reckoning-page
 {
    margin: 0 7px 0 7px;
 }

/***************************************************************************************
 * MAIN PAGE STYLES
 * Styles used specifically for the main page.
 ***************************************************************************************/

#main-page {
	
}

#main-page .main-area {
}

#main-page .main-area .highlighted-reckoning {
	margin: 10px 0 30px 0px;
}

#main-page .main-area .recent-reckonings {
}

#main-page .section {
	margin: 10px 7px;
}

#main-page .highlighted-reckoning .bottom-section {
    clear: both;
}

#main-page .secondary-area {
	
}

#main-page .secondary-area .secondary-block {
    width: 296px;
}

#main-page .secondary-area .block-1 {
	float: left;
}

#main-page .secondary-area .block-2 {
    float: right;
}

#main-page .reckoning {
	min-height: 54px;
	margin: 12px 0 12px 0;
}

#main-page .reckoning .reckoning-text {
	position: relative;
    top: 0px;
}

#main-page .reckoning .reckoning-question {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-transform: capitalize;	
}

#main-page .reckoning-question a {
    color: black;
    text-decoration: none;	
}

#main-page .reckoning-question a:hover {
	color: #cc0000;
}

#main-page .reckoning .reckoning-data {
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 9pt;
    margin: 3px 0 0 0;
    text-decoration: none;
}

#main-page .reckoning .reckoning-data .time-remaining {
	color: #900000;
	text-transform: capitalize;
}

#main-page .reckoning .reckoning-stats {
	float: right;
	margin:  0 0 0 20px;
}

#main-page .see-more-link {
	color: #cc0000;
    font-family: Futura, "Century Gothic", Futura, "Tw Cen MT", "URW Gothic L", Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}

#main-page .section-divider {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #9d9d9d;
    clear: both;
    height: 5px;
    text-align: center;
}

/***************************************************************************************
 * INDIVIDUAL RECKONING AND CONTENT STYLES
 * Styles used specifically to show an individual reckoning
 ***************************************************************************************/

#individual-entry {
	
}

#individual-entry .ajax-message {
    color: #cc0000;
    float: right;
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 3px 3px;
}

#individual-entry .reckon-edit-button {
    cursor: pointer;
	float: right;
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 3px 0;
}

#individual-entry .commentary-add-button {
    clear: both;
    float: none;
    text-align: center;
}

#individual-entry .section-divider {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #9d9d9d;
    clear: both;
    height: 10px;
    margin: 10px 8px;
    text-align: center;
}

#individual-entry .commentary-section {
	background-color: #fdfed5;
	border: 3px double black;
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    min-height: 50px;
	margin: 7px;
	padding: 12px 6px;
	width: 594px;
}

#individual-entry .profile-picture-wrapper {
    border: 1px solid #666666;
    height: 50px;
    float: left;
    margin: 0 8px 0px 0;
    width: 50px;
}

#individual-entry .profile-name {
    font-size: 14px;	
}

#individual-entry .commentary-section .commentary-text {
	font-size: 14px;
	margin: 0 8px;
}

#individual-entry .edit-commentary-section {
    margin: 0px 7px;
}

#individual-entry .text-edit-field {
    display: block;
    height: 50px;
    width: 606px;
}

#individual-entry .input-edit-field {
    width: 100%;
}

#individual-entry .question-section {
	margin: 7px;
}

#individual-entry .question-section h2 {
    margin: .3em 0 .8em 0;
}

#individual-entry .question-section p {
    margin: .5em 0;
}

#individual-entry .title-section {
    margin: 7px;
}

#individual-entry .title-section h2 {
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 32px;
    line-height: 28px;
    margin: .3em 0 .5em 0;
}

#individual-entry .title-section a {
    color: black;
    text-decoration: none;
}

#individual-entry .title-section a:hover {
    color: #cc0000;
}

#individual-entry .title-section p {
    margin: .5em 0;
}

#individual-entry .body-section {
    margin: 0 7px 1.2em 7px;
}

#individual-entry .body-section p {
    font-family: Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
    font-size: 13pt;
    margin: .5em 0;
}

#individual-entry .voting-section {
	margin: 30px 7px 10px 7px;
}

#individual-entry .voting-section .vote-box {
    border: 1px solid #9d9d9d;
	margin: 54px 0 0 0;
    padding: 54px 6px 12px 6px;
    width: 598px;
}

#individual-entry .voting-section .vote-box-open {
	background-color: #f6f6f6;
}

#individual-entry .voting-section .vote-box-winner-1 {
    background-image: url(../images/reckoning-winner-1-background.png);
    background-repeat: repeat-y;
}

#individual-entry .voting-section .vote-box-winner-2 {
    background-image: url(../images/reckoning-winner-2-background.png);
    background-repeat: repeat-y;
}

#individual-entry .voting-section .vote-box-tie {
    background-color: #deecf6;
}

#individual-entry .voting-section .vote-label {
	height: 0px;
	position: relative;
	left: 252px;
}

#individual-entry .voting-section .vote-box .top-note-area .winner-text {
	text-align: center;
    width: 214px;
}

#individual-entry .voting-section .vote-box-winner-1 .top-note-area .winner-text {
	position: relative;
	left: 40px;
}

#individual-entry .voting-section .vote-box-winner-2 .top-note-area .winner-text {
    position: relative;
    left: 350px;
}

#individual-entry .voting-section .vote-box-tie .top-note-area .winner-text {
    position: relative;
    left: 195px;
}

#individual-entry .voting-section .top-note-area .winner-text {
    font-family: Futura, "Century Gothic", Futura, "Tw Cen MT", "URW Gothic L", Tahoma, sans-serif;
    font-size: 30px;
}

#individual-entry .top-note-area .your-vote-wrapper {
    bottom: 25px;
	height: 0px;
	position: relative;
}

#individual-entry .top-note-area .your-vote-wrapper-1 {
	left: 220px;
}

#individual-entry .top-note-area .your-vote-wrapper-2 {
    left: 530px;
}

#individual-entry .voting-section .button-area {
	margin: 0 40px;
}

#individual-entry .voting-section .button-area .reckonbutton {
    border: 0px;
    display: block;
    margin: 0px 0px 6px 0px;
    overflow: auto;
    padding: 0px 0px 14px 0px; /* sliding doors padding */
    text-align: center;
    text-decoration: none;
    width: 214px;
}

#individual-entry .voting-section .button-area .reckonbutton-live {
    cursor: pointer;
}

#individual-entry .voting-section .button-area .button-1 {
	float: left;
	width: 214px;
}

#individual-entry .voting-section .button-area .button-2 {
    float: right;
    width: 214px;
}

/* Setting this up as a table cell to allow for the text to be centered.  IE6 and 7
   will show uncentered text, and the world will continue to spin.            */
#individual-entry .voting-section .button-area .reckonbutton span {
    color: #000000;
    display: table-cell;
    font: 24px "Calibri", "Futura", "Tw Cen MT", "Century Gothic", sans-serif;
    font-weight:bold;
    padding: 15px 3px 0px 3px;
    text-align: center;
    text-transform: uppercase; 
    vertical-align: middle;
    width: 208px;
    word-wrap: break-word;
}

#individual-entry .voting-section .button-area .button-1 {
    background: transparent url('../images/reckon-button-red_02.png') no-repeat scroll bottom;
}

#individual-entry .voting-section .button-area .button-1 span {
    background: transparent url('../images/reckon-button-red_01.png') no-repeat center top;
}

#individual-entry .voting-section .button-area .button-2 {
    background: transparent url('../images/reckon-button-green_02.png') no-repeat scroll bottom;
}

#individual-entry .voting-section .button-area .button-2 span {
    background: transparent url('../images/reckon-button-green_01.png') no-repeat center top;
}

#individual-entry .voting-section .subtitle-area {
	clear: both;
}

#individual-entry .voting-section .subtitle-area .subtitle-wrapper {
	font-size: 12px;
	text-align: center;
}

#individual-entry .voting-section .subtitle-area .subtitle-wrapper-1 {
    float: left;
    margin: 0 40px;
    width: 214px;
}

#individual-entry .voting-section .subtitle-area .subtitle-wrapper-2 {
    float: right;
    margin: 0 40px;
    width: 214px;
}

#individual-entry .voting-section .stat-area {
	clear: both;
	text-align: center;
}

#individual-entry .voting-section .stat-area .stats-1 {
    float: left;
    margin: 0 40px;
    width: 208px;	
}

#individual-entry .voting-section .stat-area .stats-2 {
    float: right;
    margin: 0 40px;
    width: 208px;   
}

#individual-entry .voting-section .stat-area .percentage {
    font-size: 36px;
}

#individual-entry .voting-section .bottom-area {
	clear: both;
	padding: 10px 0 0 0;
}

#individual-entry .voting-section .error-box {
    background-color: #fefde5;
    border: 1px solid #9d9d9d;
    font-family: Futura, "Century Gothic", Futura, "Tw Cen MT", "URW Gothic L", Tahoma, sans-serif;
    margin: 0px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 578px;
}

#individual-entry .voting-section .error-box .error {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 20px;
}

#individual-entry .voting-section .error-box .description {
    font-size: 12px;
    margin: 5px 20px;
}

#individual-entry .metadata-section {
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
	margin: 0px 7px;
	width: 612px;
}

.content-list-section #individual-entry .metadata-section {
	margin: 0em 7px 2em 7px;
}

#individual-entry .metadata-section .label {
    font-weight: bold;
    line-height: 14px;
}

#individual-entry .metadata-section .spec-wrapper {
	float: left;
    font-size: 14px;
    position: relative;
    top: -4px;
}

#individual-entry .metadata-section .tags-wrapper {
    margin: 0px 0px 6px 0;
    width: 250px;
}

#individual-entry .metadata-section .tags {
    text-transform: capitalize;
}

#individual-entry .metadata-section .poster-wrapper {
    background-color: #deecf6;	
	border: 2px solid black;
	float: right;
    font-size: 14px;
    height: 100%;
	padding: 4px;
	width: 250px;
}

#individual-entry .metadata-section .stat-share-wrapper {
    clear: both;
    padding: 10px 0 0 0;
}

#individual-entry .metadata-section .stat-box {
	border: 1px solid #000000;
}

#individual-entry .metadata-section .favorite-flag {
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin: 0;
    text-align: left;
    max-width: 100px;
}

#individual-entry .metadata-section .form {
    display: inline;
}

#individual-entry .metadata-section .favorite-flag .button {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: inline;
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;     
}

#individual-entry .metadata-section .profile-picture-wrapper {
	float: right;
    height: 50px;
    margin: 0px 4px;
    width: 50px;
}

#individual-entry .metadata-section .bottom-wrapper {
    clear: both;
}

#individual-entry .metadata-section .time {
    color: #cc0000;
    font-size: 20px;
}

#individual-entry .metadata-section .row-wrapper {
	clear: both;
}

#individual-entry .metadata-section .row-wrapper-2 {
    margin-top: 10px;
}

#individual-entry .metadata-section .reckoning-stats {
	float: left;
}

#individual-entry .metadata-section .social-options {
	float: right;
	padding: 4px 4px 1px 4px;
	text-align: center;
	width: 252px;
}

#individual-entry .metadata-section .like-button {
	display: inline-block;
	margin: 0 6px 0 6px;
}

#individual-entry .metadata-section .fblike-wrapper {
	position: relative;
	top: -4px;
}

#individual-entry .metadata-section .plusone-wrapper {
	margin: 0px 6px 0 0px;
}

#individual-entry .prev-next-section {
    margin: 0px 7px;
    width: 612px;	
}

#individual-entry .prev-next-section a {
	color: black;
    text-decoration: none;  
}

#individual-entry .prev-next-section a:hover {
	text-decoration: underline;
}

#individual-entry .prev-next-section .prev-wrapper {
	float: left;
	text-align: left;
	width: 300px;
}

#individual-entry .prev-next-section .next-wrapper {
    float: right;
    text-align: right;
    width: 300px;
}

#individual-entry .prev-next-section .previous-reck-img {
    float: left;
    margin: 0 5px 0 0;
}

#individual-entry .prev-next-section .next-reck-img {
    float: right;
    margin: 0 0 0 5px;
}

#individual-entry .prev-next-section .label {
    font-family: Futura, "Century Gothic", Futura, "Tw Cen MT", "URW Gothic L", Tahoma, sans-serif;
    font-size: 18px;	
    text-decoration: underline;
}

#individual-entry .prev-next-section .question {
	color: #000066;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	text-transform: uppercase;
}

#individual-entry .comment-section {
	clear: both;
	margin: 0 7px;
}

#individual-entry .comment-section .comment-box {
    background-color: #f6f6f6;
    border: 1px solid #9d9d9d;
    margin: 54px 0 0 0;
    padding: 72px 6px 12px 6px;
    width: 598px;
}

#individual-entry .comment-section .inner-comment-box {
    background-color: white;
    border: 1px solid #9d9d9d;
    padding: 10px 0 0 0;
    margin: 0px 10px;
    width: 578px;
}

#individual-entry .comment-section .post-comment-box {
    margin: 20px 10px;
    overflow: auto;
}

#individual-entry .comment-section .comment-label {
    height: 0px;
    position: relative;
    left: 252px;
}

#individual-entry .comment-section .comment-form-label {
	display: none;
}

#individual-entry .comment-section .comment-edit-field {
	height: 150px;
	width: 450px;
}

#individual-entry .comment-section .field-notation {
    margin: 0;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 8px;    
}

#individual-entry .comment-section .post-comment-box h4 {
    font-family: Futura, "Century Gothic", Futura, "Tw Cen MT", "URW Gothic L", Tahoma, sans-serif;
    font-size: 24px;   
    font-style: italic;
    margin: 0;
    text-align: center;
}

#individual-entry .comment-section .post-comment-box h4 .subtitle {
	font-size: 14px;
}

#individual-entry .comment-section .comment-post-options {
	margin: 20px 0px;
	text-align: right;
}

#individual-entry .comment-section .no-comment-text {
    font-family: Futura, "Century Gothic", Futura, "Tw Cen MT", "URW Gothic L", Tahoma, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin: 12px 0 18px 0;
    text-align: center;
    text-transform: uppercase;	
}

#individual-entry .comment-section .no-comment-text .subtitle {
	font-size: 10px;
}

#individual-entry .comment-section .comment-header ul
{
    float: right;
    margin: 0 0 8px 0;
    text-align: right;
    width: 250px;
}
 
#individual-entry .errorlist li
 {
    color: red;
    display: inline;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;   
    text-transform: uppercase; 
    width: 300px;
 }
 
/***************************************************************************************
* COMMENT STYLES
* Generic styles used specifically to render individual comments.
***************************************************************************************/
 
 #content-area .comment {
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    word-wrap: break-word;  
}

#content-area .comment .comment-data {
    float: right;
    width: 450px;
}

#content-area .comment {
    background-color: white;
    margin: 10px 30px;
}

#content-area .comment p {
    margin: 0 0 10px 0;
    font-size: 10pt;
}

#content-area .comment ol {
    margin: 8px 0;
    word-wrap: break-word;
}

#content-area .comment ul {
    margin: 8px 0;
    word-wrap: break-word;
}

#content-area .comment .comment-header {
    margin: 0 0 5px 0;  
}

#content-area .comment .comment-footer {
    font-size: 10px;
    margin: 5px 0 0 0;  
}

#content-area .comment-divider {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #9d9d9d;
    clear: both;
    height: 20px;
    margin: 0px 20px 20px 20px;
    text-align: center;
}

#content-area .comment .favorites {
    float: right;
}

#content-area .comment .flags {
	font-weight: bold;
    float: right;
}

#content-area .comment .no-favorites {
    display: none;
}

#content-area .comment .no-flags {
    display: none;
}

#content-area .comment .comment-footer .message {
	color: #cc0000;
    font-weight: bold;
    text-align: center;
}

#content-area .comment .comment-footer .form {
    display: inline;
}

#content-area .comment .comment-footer .button {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: inline;
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;     
}

*:first-child+html #content-area .comment .comment-footer .button  {  /* hack needed for IE 7 */
    border-bottom: 0;
    text-decoration: underline;
}

* html .comment #content-area .comment-footer .button  {  /* hack needed for IE 5/6 */
    border-bottom: 0;
    text-decoration: underline;
}

#content-area .comment .comment-picture-wrapper {
    border: 1px solid #666666;
    height: 50px;
    float: left;
    margin: 0 8px 0px 0;
    width: 50px;
}
 
/***************************************************************************************
* OPEN / CLOSED RECKONINGS
* Styles used specifically in the Reckoner Administration area.
***************************************************************************************/

#content-area .reckonings-list-box {
	border: 1px solid #9d9d9d;
	margin: 0px 7px;
}

#content-area .reckonings-list-box .reckoning-tabs {

}

#content-area .reckonings-list-box .reckoning-tab {
	background-color: #cc0000;
    border-left: 1px solid #555555;
    border-bottom: 1px solid #555555;
    float: left;
    margin: 0px;
    text-align: center;
    width: 151px;
}

#content-area .reckonings-list-box .reckoning-tab-left {
    border-left: 0px;
    width: 152px;
}

#content-area .reckonings-list-box .reckoning-tab-right {
    width: 152px;
}

#content-area .reckonings-list-box .reckoning-tab-selected {
	background-color: white;
	border-bottom: 0px;
	color: black;
}

#content-area .reckonings-list-box .reckoning-tabs h3 {
	font-size: 16px;
	margin: 2px 0;
}

#content-area .reckonings-list-box .reckoning-tabs a {
    color: white;
    text-decoration: none;
}

#content-area .reckonings-list-box .reckoning-tab-selected a {
    color: black;
    text-decoration: none;
}

#content-area .reckonings-list-box .reckoning-tabs a:hover {
    text-decoration: underline;
}

#content-area .reckonings-list-box .reckoning-tab {
	display: inline-block;
}

#content-area .reckonings-list-box .reckonings-content-section {
	clear: both;
	margin: 14px 7px;
}

#content-area .reckonings-list-box .reckoning {
	
}

#content-area .reckonings-list-box .reckoning .stat-boxes {
	float: left;
}

#content-area .reckonings-list-box .reckoning .content-wrapper {
	float: right;
	margin: 0 2px 0 4px;
	width: 444px;
}

#content-area .reckonings-list-box .reckoning .question {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 15px 0;
    text-transform: capitalize; 	
}

#content-area .reckonings-list-box .reckoning .question a {
    color: black;
    text-decoration: none;  
}

#content-area .reckonings-list-box .reckoning .question a:hover {
    color: #cc0000;
}

#content-area .reckonings-list-box .reckoning .spec-wrapper {
	display: inline-block;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 9pt; 
    text-transform: capitalize;
    width: 198px;
}

#content-area .reckonings-list-box .reckoning .tags-wrapper {
    margin-top: 6px;
}

#content-area .reckonings-list-box .reckoning .label {
	font-size: 9pt;
    font-weight: bold;
    text-transform: capitalize; 	
}

#content-area .reckonings-list-box .reckoning .poster-wrapper {
    background-color: #deecf6;  
    border: 1px solid black;
	display: inline-block;
	float: right;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 9pt; 
    margin: 0 0 6px 0;
    padding: 4px 4px 2px 4px;
	width: 232px;
}

#content-area .reckonings-list-box .profile-picture-wrapper {
	display: inline-block;
    float: left;
}

#content-area .reckonings-list-box .profile-picture-wrapper img {
	border: 1px solid black;
	height: 30px;
	width: 30px;
}

#content-area .reckonings-list-box .poster-wrapper .profile-info-wrapper {
	float: right;
    display: inline-block;
    width: 196px;
}

#content-area .reckonings-list-box .poster-wrapper .poster-date {
	font-size: 7pt;
	line-height: 4px;
	position: relative;
	top: -4px;
}

#content-area  .paging-section {
    font-family: Futura, "Century Gothic", Futura, "Tw Cen MT", "URW Gothic L", Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
	margin: 15px 7px;
    text-transform: uppercase;
	width: 595px;
}

#content-area  .paging-section a {
	color: black;
    text-decoration: none;
}

#content-area  .paging-section a:hover {
    text-decoration: underline;
}

#content-area  .paging-section .pages {
	color: #9b9b9b;
    text-align: center;
}

#content-area  .paging-section .pages a {
    color: #9b9b9b;
}

#content-area  .paging-section .pages .active-page {
    color: black;
}

#content-area  .paging-section .pages .active-page a {
    color: black;
}

#content-area  .paging-section .previous-page {
    float: left;
    text-align: left;
    width: 160px;
}

#content-area  .paging-section .next-page  {
    float: right;
    text-align: right;
    width: 160px;
}

#content-area  .paging-section .previous-page img {
    float: left;
    margin: 0 5px 0 0;
}

#content-area  .paging-section .next-page img {
    float: right;
    margin: 0 0 0 5px;
}

#content-area  .paging-section .label {
    font-family: Futura, "Century Gothic", Futura, "Tw Cen MT", "URW Gothic L", Tahoma, sans-serif;
    font-size: 18px;    
}

#content-area  .paging-section .page-size-select {
    margin: 20px 0;
    text-align: center;
}

#content-area  .paging-section .page-box {
    background-color: #f1fee9;
    border: 1px solid #666666;
    display: inline-block;
    height: 45px;
    text-align: center;
    width: 55px;
}

#content-area  .paging-section .page-box a {
    color: #9b9b9b;
}

#content-area  .paging-section .page-box-selected a {
    color: black;
    text-decoration: none;
}

#content-area  .paging-section .page-box .count {
    font-family: "Futura", "Lucida Sans", "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 18px;
    line-height: 12px;
    margin: 8px auto 1px auto;
}

#content-area  .paging-section .page-box .box-label {
    display: inline-block;
    margin: 0 auto;
    font-family: "Futura", "Lucida Sans", "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 10px;
}

#content-area .reckonings-list-box .reckoning-divider {
    padding: 8px 0 0 0;
    margin: 0 0 8px 0;
}

#tag-filter-form {
	margin: 7px 2px;
}

#tag-filter-form .tag-form-box {
	background-color: #f6f6f6;
	border: 1px solid #9d9d9d;
	margin: 4px 0;
    padding: 7px 15px;
}

#tag-filter-form .tag-form-box h5 {
    margin: 16px 0 4px 0;
}

#tag-filter-form .tag-form-box .field-notation {
	margin: 0;
	font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
	font-size: 9px;
}

#tag-filter-form .tag-form-box .tag-field {
    width: 180px;
}

#tag-filter-form .tag-form-box .save-tags-checkbox-wrapper {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 10px;
    margin: 16px 0;
}

#tag-filter-form .tag-form-box .save-tags-label {
    position: relative;
    top: -1px;
}

#tag-filter-form .tag-form-box .save-tags-button {
	margin: 15px 0;
}

/***************************************************************************************
* SIDEBAR STYLES
* Styles used specifically for sidebar content.
***************************************************************************************/

#content-area .sidebar-section {
	margin: 0 0 25px 0;
}

#content-area .sidebar-tab-box {
    background-color: #fafafa;
    border: 1px solid #9d9d9d;
    margin: 3px 0;
}

#content-area .sidebar-box {
    background-color: #fafafa;
    border: 1px solid #9d9d9d;
    margin: 3px 0;
}

#content-area #reckon-blog-box {
	/*background-color: #f1fee9;*/
}

#content-area .sidebar-box #blog-box-content {
    clear: both;
    margin: 14px 7px;
}

#content-area .sidebar-box #blog-box-content .blog-title {
    font-family: "Futura", "Lucida Sans", "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
}

#content-area .sidebar-box #blog-box-content .blog-title a {
    color: black;
    text-decoration: none;
}

#content-area .sidebar-box #blog-box-content .blog-title a:hover {
    color: #cc0000;
    text-decoration: underline;
}

#content-area .sidebar-box #blog-box-content .blog-subtitle {
	font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#content-area .sidebar-box #blog-box-content .blog-content p {
    font-size: 13px;
    margin: 1em 0;
}

#content-area .sidebar-box #blog-box-content .blog-read-more {
    font-size: 12px;
    margin: 0 0 1em 0;
}

#content-area #reckoner-side-social-box {
    padding: 7px;
}

#content-area #top-reckonings-section .sidebar-tab-box {
    min-height: 150px;
}

#content-area #related-reckonings-section .sidebar-tab-box {
    min-height: 150px;
}

#content-area .sidebar-tab-box .reckoning-tab {
    background-color: #cc0000;
    border-left: 1px solid #555555;
    border-bottom: 1px solid #555555;
    color: white;
    float: left;
    margin: 0px;
    text-align: center;
    width: 150px;
}

#content-area .sidebar-tab-box .reckoning-tab {
    background-color: #cc0000;
    border-left: 1px solid #555555;
    border-bottom: 1px solid #555555;
    color: white;
    cursor: pointer;
    float: left;
    margin: 0px;
    text-align: center;
    width: 150px;
}

#content-area .sidebar-tab-box .reckoning-tab:hover {
    text-decoration: underline;
}

#content-area .sidebar-tab-box .reckoning-tab-left {
    border-left: 0px;
    width: 151px;
}

#content-area .sidebar-tab-box .reckoning-tab-right {
    width: 152px;
}

#content-area .sidebar-tab-box .reckoning-tab-selected {
    background-color: #fafafa;
    border-bottom: 0px;
    color: black;
}

#content-area .sidebar-tab-box .reckoning-tabs h3 {
    font-size: 16px;
    margin: 2px 0;
}

#content-area .sidebar-tab-box .reckoning-tabs a {
    color: white;
    text-decoration: none;
}

#content-area .sidebar-tab-box .reckoning-tab-selected a {
    color: black;
    text-decoration: none;
}

#content-area .sidebar-tab-box .reckoning-tabs a:hover {
    text-decoration: underline;
}

#content-area .sidebar-tab-box .reckoning-tab {
    display: inline-block;
}

#content-area .sidebar-tab-box .reckonings-content-section {
    clear: both;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 12px;
    margin: 14px 7px;
    text-transform: capitalize;
}

#content-area .sidebar-tab-box .reckoning-list-item {
    margin: 12px 2px;
}

#content-area .sidebar-tab-box .reckoning-question a {
    color: #000066;
    margin: 3px 0;
    text-decoration: none;
}

#content-area .sidebar-tab-box .reckoning-question a:hover {
    text-decoration: underline;
}

#content-area .sidebar-tab-box .reckoning-data {
	color: #333333;
	font-size: 10px;
	font-weight: bold;
	margin: 6px 0 0 0;
    text-align: right;
}

#content-area .sidebar-tab-box .reckoning-divider {
    display: inline-block;
    float: left;
    width: 50%;
}

/***************************************************************************************
 * PROFILE STYLES
 * Styles used specifically in the Reckoner Profile area.
 ***************************************************************************************/

#user-profile-page {
	
}

#user-profile-page .profile-info-section {
	margin: 0 28px;
}

#user-profile-page .profile-overview {
    float: left;
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 4px;
    text-transform: capitalize;
    width: 250px;
}

#user-profile-page .profile-box {
	background-color: #DEECF6;
	border: 2px solid #666;
}

#user-profile-page .profile-info-section .profile-picture-wrapper {
	border: 1px solid black;
	float: left;
    height: 50px;
    margin: 2px 4px 4px 0px;
    width: 50px;
}

#user-profile-page .profile-info-section .profile-picture-wrapper img {
    height: 50px;
    width: 50px;
}

#user-profile-page .profile-info-section .poster-name {
	font-size: 16px;
    font-weight: bold;
}

#user-profile-page .profile-info-section .poster-dates .label {
	clear: both;
    text-decoration: underline;
}

#user-profile-page .profile-info-section .profile-count-box {
    background-color: #f1fee9;
    border: 1px solid #666666;
    display: inline-block;
    height: 55px;
    text-align: center;
    width: 65px;
}

#user-profile-page .profile-stats {
	float: right;
}

#user-profile-page .profile-info-section .profile-count-box .count {
    font-family: "Futura", "Lucida Sans", "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 20px;
    line-height: 12px;
    margin: 14px auto 1px auto;
}

#user-profile-page .profile-info-section .profile-count-box .box-label {
    display: inline-block;
    margin: 0 auto;
    font-family: "Futura", "Lucida Sans", "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 12px;
}

#user-profile-page .profile-info-section .profile-count-box .box-label-small {
    display: inline-block;
    margin: 0 auto;
    font-family: "Futura", "Lucida Sans", "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 10px;
}

#user-profile-page .profile-info-section .profile-bio {
    clear: both;
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 15px 0px 35px 0px;
}

#content-area .bio-divider {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #9d9d9d;
    border-bottom-style: dotted;
    clear: both;
    margin: 0px 10px 10px 10px;
    text-align: center;
}

#user-profile-page .profile-info-section .profile-bio h3 {
    margin: 6px 0;
}

#user-profile-page .profile-info-section .profile-bio p {
    margin: 6px 0;
    font-size: 14px;
}

#user-profile-page .profile-info-section .profile-bio .label {
    font-weight: bold;
    margin: 10px 0;
}

#user-profile-page .profile-info-section .profile-bio .profile-bio-edit-button {
    color: #c54913;
	cursor: pointer;
	margin: 7px 0;
}

#user-profile-page .profile-info-section .profile-bio .profile-bio-edit-message {
    color: #cc0000;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    float: right;
}

#user-profile-page .profile-info-section .save-button {
	margin: 6px 0 0 0;
	width: 50px;
}
 
.reckoning .vote-boxes {
	float: left;
}

.reckoning .vote-boxes .vote-box {
    border: 1px solid #666666;
    color: #9d9d9d;
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0 0 5px 0;
    padding: 5px 0;
    text-align: center;
    width: 140px;    
}

.reckoning .vote-boxes .vote-box-selected {
    background-color: #d7ffbe;  
    color: black;
    font-weight: bold; 
}

.profile-comment .profile-comment-reckoning {
    margin: 15px 20px 0 20px;
}

.profile-comment .profile-comment-reckoning .reckoning-question {
	font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	line-height: 20px;
	text-transform: capitalize;	
}

.profile-comment .profile-comment-reckoning .reckoning-posting-date {
    font-size: 10px;
}

.profile-comment .comment-reckoning-divider {
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-bottom-color: black;
	border-bottom-style: solid;
	clear: both;
	height: 25px;
	margin: 5px auto;
	text-align: center;
	width: 100%;	
}

/***************************************************************************************
 * BLOG / CONTENT STYLES
 * Styles used specifically for the Reckon Blog and Content areas
 ***************************************************************************************/

#blog-list-page .blog-entry-divider {
	margin: 3em 0 1.5em 0;
}

.blog-site-column {
    background-image: url(../images/blog-background.png);
    background-repeat: repeat-y;
}

#post-content-page
 {
    margin: 0 7px 0 7px;
 }
 
#blog-label-button {
    margin: 7px auto;
    text-align: center;
 }
 
.blog-site-column .sidebar-background-box {
    background-color: #f6f6f6;
    border: 1px solid #9d9d9d;
    margin: 10px 0;
    padding: 7px 14px;
}
 
#cast-of-characters {
    margin: 7px 0 14px 0;
    text-align: center;
}

.blog-site-column .sidebar-background-box .head-label {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
}

.blog-site-column .sidebar-background-box ul {
	font-size: 12px;
	line-height: 20px;
	list-style-type: none;
    margin: .5em 0;
    padding-left: 1em;
    text-transform: capitalize;
}

.blog-site-column .sidebar-background-box a {
	color: #0161c3;
    text-decoration: none;
}

.blog-site-column .sidebar-background-box a:hover {
    text-decoration: underline;
}

.character-row {
	margin: 12px 0;
}

.character-row .character-portrait {
    display: inline-block;
}

.character-row .character-text {
	float: right;
	width: 120px;
}

.character-row .person-character-text {
    position: relative;
    top: 12px;
}

.character-row .character-text .name {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-weight: bold;
    margin: 4px 0;
    text-transform: uppercase;
}

.character-row .character-text .title {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
}

.content-list-section .full-post-link {
    font-family: Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
    font-weight: bold;
}

.content-list-section .full-post-link a {
    color: #990000;
    text-decoration: none;
}

.content-list-section .full-post-link a:hover {
    text-decoration: underline;
}


/***************************************************************************************
 * ADMIN STYLES
 * Styles used specifically in the Reckoner Administration area.
 ***************************************************************************************/
 
#reckoning-approval-page
 {
    margin: 0 7px 0 7px;
 }
 
#reckoning-approval-page .messages
 {
    background-color: #f1fee9;
    border: 4px solid black;
    color: #cc0000;
    margin: 15px 0 15px 0;
 }
 
#reckoning-approval-page .messages ul
 {
    margin: 5px;
 }
 
#pending-select-form .errorlist
 {
    margin: 0;
 }
 
#pending-select-form .errorlist li
 {
    color: red;
    display: inline;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;   
    text-transform: uppercase; 
    width: 300px;
 }
 
 #pending-select-form .field-wrapper
 {
    width: 300px;
 }
 
.reckoning-admin-info ul li {
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.reckoning-admin-info ul li .label {
    font-weight: bold;
}

#flag-summary-page .flag-total {
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 16px;	
    font-weight: bold;
    text-align: center;
}

 