
/***************************************************************************************
 * CORE STYLES
 * These reflect the basic styles used for the Reckoner master template and layout.
 ***************************************************************************************/
body {
    background-color: #f6f6f6;
    margin: 0;
}

#site-column {
    margin: 0 auto;
    background-color: #ffffff;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    width: 960px;
}

#top-bar {
    background-image: url(../images/top-bar-background.png);
    background-repeat: repeat-x;
    max-height: 146px;
}

#top-bar .top-bar-section {
    display: block;
}

#top-bar .logo-section {
    height: 117px;
}

#top-bar .logo-wrapper {
    float: left;
    margin: 7px 0 0 20px;
}

#top-bar .search-wrapper {
    float: right;
    position: relative;
    top: 3px;
    right: 7px;
}

#top-bar .login-wrapper {
    float: right;
    position: relative;
    top: 18px;
    right: 30px;
}

#top-bar .login-wrapper .login-button {
}

#top-bar .navigation-section {
	clear: both;
    top: -8px;
    position: relative;
}

#top-bar .navigation-section .nav-text-wrapper {
    text-align: center;
}

#top-bar .navigation-section .nav-text-wrapper h2 {
    color: #f6f6f6;
    font-family: Futura, "Century Gothic", Futura, "Tw Cen MT", "URW Gothic L", Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    text-transform: uppercase;
}

#top-bar .navigation-section .nav-text-wrapper a {
    color: #f6f6f6;
    font-style: normal;
    text-decoration: none;
}

#top-bar .navigation-section .nav-text-wrapper a:hover {
    color: #f6f6f6;
    font-style: normal;
    text-decoration: underline;
}

#content-area {
    clear: both;
    height: 100%;
}

#content-area h1 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;  
}

#content-area h2 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;  
}

#content-area h3 {
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
}

#content-area h4 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#content-area h5 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#content-area h6 {
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

#content-area p {
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#main-section {
	/* Total width here should add up to 640px - horiz padding + border + width */
    border-right: 1px dotted black;
    float: left;
    height: 100%;
    padding: 7px 7px 7px 7px;
    width: 625px;
}

#right-sidebar-section {
	/* Total width here should add up to 320px - horiz padding + border + width */
    float: right;
    padding: 7px 7px 7px 7px;
    width: 306px;
}

#bottom-bar {
    background-image: url(../images/bottom-bar-background.png);
    background-repeat: repeat-x;
    clear: both;
    height: 53px;
}

#bottom-bar .logo-section {
    float: left;
    margin: 2px 0 0 14px;
}

#bottom-bar .navigation-section {
    position: relative;
    top: 20px;
    right: 8px;
}

#bottom-bar .navigation-section .nav-text-wrapper {
    text-align: right;
}

#bottom-bar .navigation-section .nav-text-wrapper h3 {
    color: #f6f6f6;
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    text-transform: uppercase;
}

#bottom-bar .navigation-section .nav-text-wrapper a {
    color: #f6f6f6;
    font-style: normal;
    text-decoration: none;
}

#bottom-bar .navigation-section .nav-text-wrapper a:hover {
    color: #f6f6f6;
    font-style: normal;
    text-decoration: underline;
}

/***************************************************************************************
 * STATIC PAGE STYLES
 * Styles used for static pages heavy on the HTML content
 * (i.e. Reckoning Welcome, About, etc.)
 ***************************************************************************************/

#content-area .static-page {
	margin: 0 7px;
}

#content-area .static-page h2 {
	text-align: center;
}

#content-area .static-page h3 {
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;	
}

#content-area .static-page .highlight {
    color: #cc0000;
}

#content-area .static-page h4 {
    margin: 1.5em 0 .2em 0;
}

#post-reckoning-intro-page p {
    margin: 0;
}

#content-area .static-page p {
    margin: 1em 0;
}

#content-area .signature-block {
	background-color: #fff8e0;
	border: 1px solid #666666;
	height: 165px;
	padding: 0px;
	margin: 40px auto;
	text-align: center;
	width: 400px;
}

#content-area .signature-block h4 {
    font-size: 12px;
    margin: 5px 0;
    position: relative;
    right: 40px;
    top: -45px;
}

/***************************************************************************************
 * LOGIN BOX STYLES
 * Styles used for cases where a login box is displayed.
 * (i.e. Post Reckoning, Comment Box, etc.
 ***************************************************************************************/

#content-area .sign-up-box {
	background-color: #f6f6f6;
	border: 1px solid #666666;
	margin: 48px 0;
	padding: 6px;
	width: 600px;
}

#content-area .sign-up-box h2 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    font-size: 72px;
    margin: .4em 0 0 0;
    text-align: center;	
}

#content-area .sign-up-box h3 {
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    text-align: center;
    text-transform: uppercase;  
}

#content-area .sign-up-box h4 {
    font-family: Futura, "Tw Cen MT", "Century Gothic", "URW Gothic L", Tahoma, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;  
}

#content-area .login-buttons {
	height: 80px;
}

#content-area .login-buttons .login-button-1 {
	float: left;
	position: relative;
	top: 30px;
	left: 70px;
}

#content-area .login-buttons .login-button-2 {
	float: left;
    position: relative;
    top: 30px;
    left: 110px;
}


/***************************************************************************************
 * EDIT RECKONING STYLES
 * Styles used for the reckoning edit screens.
 ***************************************************************************************/

.edit-reckoning-form .field-wrapper
 {
    clear: both;
    padding: 8px 0;
 }
 
.edit-reckoning-form .reckoning-form-option .field-wrapper
 {
    padding: 0;
 }
 
.edit-reckoning-form h5
 {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
 }
 
.edit-reckoning-form h6
 {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
 }
 
.edit-reckoning-form p
 {
    margin: 4px 0 0 0;
 }
 
.edit-reckoning-form .field-notation
 {
    margin: 0;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 8px;    
 }
 
.edit-reckoning-form .errorlist
 {
    margin: 0;
 }
 
.edit-reckoning-form .errorlist li
 {
    color: red;
    display: inline;
    float: right;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 6px 10px 0 0;   
    text-align: right;
    text-transform: uppercase; 
    width: 300px;
 }
 
.edit-reckoning-form .reckoning-form-options .errorlist li
 {
    margin: 0;
    width: 100px;
 }
 
.edit-reckoning-form .reckoning-form-option-2 .errorlist li
{
   margin: 0;
   color: #900000;
}

.edit-reckoning-form .tooltip-icon
{
	float: right;
}

.edit-reckoning-form .tooltip
{
	background-color: #ffffcc;
	border: 2px solid black;
    display: none;
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 8px;
    padding: 5px 10px 10px 10px;
    width: 300px;
}

#content-area .edit-reckoning-form .tooltip p
{
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
 
.edit-reckoning-form .question-edit-field
 {
    height: 2.5em;
    padding: 5px;
    width: 600px;
 }
 
.edit-reckoning-form .description-edit-field
 {
    height: 12.5em;
    padding: 5px;
    width: 600px;
 }
 
.edit-reckoning-form .answer-edit-field
 {
    float: left;
    height: 1.2em;
    padding: 5px;
    width: 185px;
 }
 
.edit-reckoning-form .subtitle-edit-field
 {
    float: left;
    height: 1.2em;
    padding: 5px;
    width: 185px;
 }
 
.edit-reckoning-form .tags-edit-field
 {
    height: 1.2em;
    padding: 5px;
    width: 600px;
 }
 
.edit-reckoning-form .interval-edit-field
 {
    height: 1.2em;
    padding: 5px;
    width: 200px;
 }

.edit-reckoning-form .commentary-edit-field
 {
    height: 12.5em;
    padding: 5px;
    width: 600px;
 }
 
.edit-reckoning-form .reckoning-form-options {
    margin: 15px 0;
 }
 
.edit-reckoning-form .reckoning-form-option {
    border: 1px solid black;
    height: 104px;
    padding: 15px;
 }
 
.edit-reckoning-form .reckoning-form-option-1 {
    background-color: #d2e8c5;
    float: left;
    width: 225px;
 }
 
.edit-reckoning-form .reckoning-form-option-2 {
    background-color: #e37878;
    float: right;
    width: 225px;
 }
 
.edit-reckoning-form .versus {
    font-family: Haettenschweiler, Impact, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    font-size: 48px;
    line-height: 135px;
    margin: 0 auto;
    text-align: center;
    width: 50px;
} 
 
.edit-reckoning-form .form-buttons
 {
    margin: 30px 0;
    text-align: center;
 }
 
.edit-reckoning-form .button
 {
    width: 100px;
 }


/***************************************************************************************
 * POST RECKONING STYLES
 * Styles used specifically in the Reckoner Administration area.
 ***************************************************************************************/

#post-reckoning-page
 {
    margin: 0 7px 0 7px;
 }
 

/***************************************************************************************
 * ADMIN STYLES
 * Styles used specifically in the Reckoner Administration area.
 ***************************************************************************************/
 
#reckoning-approval-page
 {
    margin: 0 7px 0 7px;
 }
 
#reckoning-approval-page .messages
 {
    background-color: #f1fee9;
    border: 4px solid black;
    color: #cc0000;
    margin: 15px 0 15px 0;
 }
 
#reckoning-approval-page .messages ul
 {
    margin: 5px;
 }
 
#pending-select-form .errorlist
 {
    margin: 0;
 }
 
#pending-select-form .errorlist li
 {
    color: red;
    display: inline;
    font-family: "Lucida Sans", "Lucida Grande", Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;   
    text-transform: uppercase; 
    width: 300px;
 }
 
 #pending-select-form .field-wrapper
 {
    width: 300px;
 }
 
.reckoning-admin-info ul li {
    font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.reckoning-admin-info ul li .label {
    font-weight: bold;
}
 