{% extends "standard_sidebar.html" %}

{% block pagetitle %}The Reckoner! - Post A Reckoning!{% endblock %}

{% block main %}
    <div id="admin-home-page" class="static-page">
        <div class="page-header"><h1>RECKONER ADMINISTRATION!</h1></div>
        <ul>
            {% if 'UPDATE_PERMS' in perms %}
            <li><a href="/admin/user-permissions">Change User Permissions!</a></li>
            {% endif %}
            {% if 'APPROVAL' in perms %}
            <li><a href="/admin/approval">Approve Reckonings!</a></li>
            <li><a href="/admin/flagged">Review Flagged Reckonings!</a></li>
            {% endif %}
            {% if 'POST_CONTENT' in perms %}
            <li><a href="/post-content">Post Content!</a></li>            
            {% endif %}
        </ul>
    </div>
{% endblock %}