{% extends "standard_sidebar.html" %}
{% load reckontags %}

{% block pagetitle %}The Reckoner! - Reckoning Administration{% endblock %}

{% block extraheader %}
      <script src="{{ STATIC_URL }}js/ajax-post.js"></script>
      <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
      <script src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"> </script>
{% endblock %}

{% block main %}
    <div id="reckoning-approval-page">
	    <h1>Reckoner Administration!</h1>
	    {% if messages %}
	    <div class="messages">
	        <ul>
		        {% for message in messages %}
		        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		        {% endfor %}
	       </ul>
	    </div>
	    {% endif %}
	    
	    <label for="id_reckqueue-pendingselect"><h3>Reckoning Approval Queue:</h3></label>
	    
	    <div id="pending-select-form" class="form-wrapper">
		    <form action="" method="post">{% csrf_token %}
		        <div class="field-wrapper">
                    {{ errors.pendingselect }}
			        {{ reckoningQueueForm.pendingselect }}
		        </div>
		    <input type="submit" name="getreck" value="Get Reckoning" />
		    </form>
	    </div>
	    
	    <hr class="page-divider">
	    
	    {% if approveReckoningForm %}
	    <div class="current-pending-reckoning">
	        <div class="reckoning-admin-info">
			    <h3>Current Reckoning:</h3>
			    <ul>
			        <li><span class="label">ID:</span> {{currentReckoning.id}}</li>
			        <li><span class="label">Submission Date:</span> {{currentReckoning.submission_date}}</li>
			        {% if postingUser %}
			        <li><span class="label">Submitter:</span>
			           <ul>
			           <li>{{ postingUser|print_user_name }}</li>
			           <li>Reckoner ID: {{postingUser.reckoner_id}}</li>
			           </ul>
			        </li>
			        {% endif %}
			    </ul>
            </div>			    
			<div id="selected-pending-form" class="form-wrapper edit-content-form">
			    <form action="" method="post">{% csrf_token %}
			        <div class="field-wrapper">
                         <div class="tooltip-icon"><img src="{{ STATIC_URL }}images/tooltip-thumb-image.png"></div>
                         <div class="tooltip">
                            <p><b>Here's where the fun begins!</b>  The key is to get the essentials out in 150 characters or less.  This is what's going to pull people in to vote, so make it clear and make it count!</p>
                            <p><u>Here's a couple good examples:</u></p>
                            <p>* Batman and Superman have entered the 2012 Betty Crocker 'Mix It Up With Betty' Cookie Mix competition. Who wins the 1,000 free box tops?</p>
                            <p>* My fiancee refuses to play Settlers of Catan with me.  Is this grounds to call off the wedding?</p>
                         </div>
			             {{errors.question}}
			             <p><label for="id_reckapp-question"><h5>The Question!</h5></label></p>
			             <p><textarea maxlength=150 id="id_reckapp-question" name="reckapp-question" class="question-edit-field">{% if approveReckoningForm.question.value %}{{approveReckoningForm.question.value}}{% endif %}</textarea></p>
                         <div class="field-notation">(150 Character Max)</div>
                    </div><div class="field-wrapper">
                         <div class="tooltip-icon"><img src="{{ STATIC_URL }}images/tooltip-thumb-image.png"></div>
                         <div class="tooltip">
                            <p><b>Here is where you attach the sights and scenes associated with your question.</b>  Let it rip!</p>
                            <p>You can attach two images of up to 250 KB each, which will be displayed along with your Reckoning.  Take note that they'll be scaled down to fit within a 575 x 575 pixel box, so you'll want to upload something distinguishable within those parameters.</p>
                         </div>                    
                         {{form.images.errors}}    
                         <p><label for="id_images_1"><h5>The Images!</h5></label></p>
                         
                         <div id="fileupload">
                            <div class="fileupload-buttonbar">
                                <label class="fileinput-button">
                                    <span>Add Image...</span>
                                    <input type="file" name="files[]" accept="image/jpeg,image/gif,image/png" multiple>
                                </label>
                            </div>
                            <div class="fileupload-content">
                                <table class="files"></table>
                            </div>
                         </div>                         
                         
                         <noscript><div class="field-notation">Sorry.  You need javascript enabled to support image uploading.</div></noscript>                   
                         <div class="field-notation"><div class="free-text">(Upload up to two images. JPEGs, GIFs, and PNGs are accepted. Max. 250 KB each.  Images are scaled down to fit within a 575 x 575 pixel box.)</div></div>  
                    </div><div class="field-wrapper"> 
                         <div class="tooltip-icon"><img src="{{ STATIC_URL }}images/tooltip-thumb-image.png"></div>
                         <div class="tooltip">
                            <p><b>Here is where the juicy details come out.</b>  Spill your guts!.</p>
                            <p><u>For example, a good explanation would be:</u></p>
                            <p><i><b>So here's the deal.</b>  Both Superman and Batman entered the Betty Crocker Cookie Mix competition because the fate of the free world hangs in the balance.  Shut up, just go with me here.  Superman, being the sporting type, has pledged not to cheat by frying other people's cookie sheets with his heat vision.  Superpowers are otherwise fair game.  Both are wearing matching floral-print aprons and oven mitts that are just darling.  <b>Who reigns supreme?</b></i></p>
                         </div>                    
                         {{errors.description}}    
                         <p><label for="id_reckapp-description"><h5>The Explanation!</h5></label></p>
                         <p><textarea maxlength=3000 id="id_reckapp-description" name="reckapp-description" class="description-edit-field">{% if approveReckoningForm.description.value %}{{approveReckoningForm.description.value}}{% endif %}</textarea></p>
                         <noscript><div class="field-notation">(3000 Character Max)  Allowed Tags: &lt;p&gt; &lt;i&gt; &lt;strong&gt; &lt;b&gt; &lt;u&gt; &lt;a&gt; &lt;pre&gt; &lt;br&gt; &lt;img&gt; &lt;ul&gt; &lt;li&gt;</div></noscript>			        
                         <div class="field-notation"><div class="free-text">(This is the fun part.  Have at it.)</div></div>  
			        </div>
			        <div class="reckoning-form-options">
				        <div class="reckoning-form-option-1 reckoning-form-option">
					        <div class="field-wrapper">
                                 {{errors.answer_1}}					             
		                         <p><label for="id_reckapp_answer_1"><h5>Option 1</h5></label></p>
		                         <p><input type="text" maxlength=25 id="id_reckapp_answer_1" name="reckapp-answer_1" class="answer-edit-field" value="{% if approveReckoningForm.answer_1.value %}{{approveReckoningForm.answer_1.value}}{% endif %}"></input></p>
		                         <div class="tooltip-icon"><img src="{{ STATIC_URL }}images/tooltip-thumb-image.png"></div>
		                         <div class="tooltip">
		                            <p><b>This is the payload!</b> 25 characters to make it happen.</p> 
		                            <p>If your answer can't fit, trying building out The Explanation.  Superman and Batman don't have this problem (nor even Batman's German cousin, Die Fledermausmensch)</p>
		                         </div> 		                         
		                    </div>
	                        <div class="field-wrapper">
                                 {{errors.subtitle_1}}	                             
	                             <p><label for="id_reckapp-subtitle_1"><h6>Subtitle 1</h6></label></p>
	                             <p><input type="text" maxlength=25 id="id_reckapp-subtitle_1" name="reckapp-subtitle_1" class="subtitle-edit-field" value="{% if approveReckoningForm.subtitle_1.value %}{{approveReckoningForm.subtitle_1.value}}{% endif %}"></input></p>
                                 <div class="tooltip-icon"><img src="{{ STATIC_URL }}images/tooltip-thumb-image.png"></div>
                                 <div class="tooltip">
                                    <p><b>This is for fun!</b> 25 additional characters to annotate your answer.</p> 
                                    <p><b>The subtitle is a chance to let your own natural wit shine!</b>  Don't worry, Reckonbot barely even reads these.  Give yourself your own little Greek Chorus.</p>
                                    <p>For our friend Batman, a 'Na-na-na, Batman!' seems like a good fit.  For Superman, good luck.</p>
                                 </div>     
	                        </div>
				        </div>
	                    <div class="reckoning-form-option-2 reckoning-form-option">			        
	                        <div class="field-wrapper">     
                                 {{errors.answer_2}}    	             
	                             <p><label for="id_reckapp-answer_2"><h5>Option 2</h5></label></p>
	                             <p><input type="text" maxlength=25 id="id_reckapp-answer_2" name="reckapp-answer_2" class="answer-edit-field" value="{% if approveReckoningForm.answer_2.value %}{{approveReckoningForm.answer_2.value}}{% endif %}"></input></p>
                                 <div class="tooltip-icon"><img src="{{ STATIC_URL }}images/tooltip-thumb-image.png"></div>
                                 <div class="tooltip">
                                    <p><b>This is the payload!</b> 25 characters to make it happen.</p> 
                                    <p>If your answer can't fit, trying building out The Explanation.  Superman and Batman don't have this problem (nor even Batman's German cousin, Die Fledermausmensch)</p>
                                 </div>     	                        
	                        </div>
	                        <div class="field-wrapper">     
                                 {{errors.subtitle_2}}    	                        
	                             <p><label for="id_reckapp-subtitle_2"><h6>Subtitle 2</h6></label></p>
	                             <p><input type="text" maxlength=25 id="id_reckapp-subtitle_2" name="reckapp-subtitle_2" class="subtitle-edit-field" value="{% if approveReckoningForm.subtitle_2.value %}{{approveReckoningForm.subtitle_2.value}}{% endif %}"></input></p>
                                 <div class="tooltip-icon"><img src="{{ STATIC_URL }}images/tooltip-thumb-image.png"></div>
                                 <div class="tooltip">
                                    <p><b>This is for fun!</b> 25 additional characters to annotate your answer.</p> 
                                    <p><b>The subtitle is a chance to let your own natural wit shine!</b>  Don't worry, Reckonbot barely even reads these.  Give yourself your own little Greek Chorus.</p>
                                    <p>For our friend Batman, a 'Na-na-na, Batman!' seems like a good fit.  For Superman, good luck.</p>
                                 </div>  	                        
	                        </div>
	                    </div>
                        <div class="versus">VS.</div>
                    </div><div class="field-wrapper">
                         <div class="tooltip-icon"><img src="{{ STATIC_URL }}images/tooltip-thumb-image.png"></div>
                         <div class="tooltip">
                            <p><b>Tags are awesome!</b> These make your Reckoning easy to find so other interested Reckonauts see it quickly.</p> 
                            <p>All you need to do is type the tags you want, separated by commas.  Label these in groups that make sense: "Superheroes, Baking, Betty Crocker, Floral-Print Oven Mitts' and let it rip.</p>  
                            <p>Reckonbot'll clean these up, so don't sweat it if you miss a few.</p>
                         </div>  
                         {{errors.tags}}                          
                         <p><label for="id_reckapp-tags"><h5>Tags!</h5></label></p>
                         <p><input type="text" maxlength=100 id="id_reckapp-tags" name="reckapp-tags" class="tags-edit-field" value="{% if approveReckoningForm.tags.value %}{{approveReckoningForm.tags.value}}{% endif %}"></input></p>
                         <div class="field-notation">(Separated by commas - e.g. 'Relationships, Video Games, Television, Jobs', etc.)</div>
                    </div><div class="field-wrapper"> 
                         {{errors.interval}}                         
                         <p><label for="id_reckapp-interval"><h5>Interval (in minutes)!</h5></label></p>
                         <p><input type="text" maxlength=6 id="id_reckapp-interval" name="reckapp-interval" class="interval-edit-field" value="{% if approveReckoningForm.interval.value %}{{approveReckoningForm.interval.value}}{% endif %}"></input></p>
                    </div><div class="field-wrapper">   
                         {{errors.highlighted}}                       
                         <p><label for="id_reckapp-highlighted"><h5>Highlighted!</h5></label></p>
                         <p>{{ approveReckoningForm.highlighted }}</p>
                    </div><div class="field-wrapper">
                         {{errors.commentary}}         
                         <p><label for="id_reckapp-edit_commentary"><h5>Leave Commentary?</h5></label><input type="checkbox" id="id_reckapp-edit_commentary" name="reckapp-edit_commentary" value="edit_commentary" {% if approveReckoningForm.commentary.value and approveReckoningForm.commentary.value|length == 0 %}checked="checked"{% endif %}/></p>              
                         <p><textarea maxlength=3000 id="id_reckapp-commentary" name="reckapp-commentary" class="commentary-edit-field" {% if not approveReckoningForm.commentary.value or approveReckoningForm.commentary.value|length == 0 %}disabled="disabled"{% endif %}>{% if approveReckoningForm.commentary.value %}{{approveReckoningForm.commentary.value}}{% endif %}</textarea></p>
                    </div>	  
                    
                    <input type="hidden" name="attached-files" id="attached-files" value="{{approveReckoningForm.attached_files.value}}">      
			        
			        <div class="form-buttons">
					    <input type="submit" name="save" value="Save" class="button save-button"/>
					    <input type="submit" name="approve" value="Save & Approve" class="button approve-button"/>
					    <input type="submit" name="reject" value="Reject" class="button reject-button"/>
				    </div>
			    </form>
			</div>
        </div>
        {% endif %}
    </div>
        
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script>
	$(document).ready(function() {
		$(".tooltip-icon").tooltip();
		
		$(".description-edit-field").ckeditor(
		  function () { /* Callback code */}, {
              forcePasteAsPlainText: true,
			  skin: 'v2',
			  toolbar: 'Basic'
		  }		  		
		);
		
		// Set the initial state for the commentary boxes
		var commentary = $('#id_reckapp-commentary').text()
		if (commentary.length > 0) {
            $("#id_reckapp-edit_commentary").attr('checked', true);			
            $("#id_reckapp-commentary").attr('disabled', false);			
		} else {
            $("#id_reckapp-edit_commentary").attr('checked', false);         
            $("#id_reckapp-commentary").attr('disabled', true);    			
		}
   });
	
   $(function() {
	  $("#id_reckapp-edit_commentary").change( function() {
		if (this.checked) {
			$("#id_reckapp-commentary").attr('disabled', false);
		} else {
            $("#id_reckapp-commentary").attr('disabled', true);			
		}
	  })
   });
  </script>
  
  {% include "fileupload-scripts.html" with reckoning_id=currentReckoning.id %}
{% endblock %}