        <div id="beta-sidebar-section" class="sidebar-section">
            <div id="beta-sidebar-box" class="sidebar-text-box sidebar-box">
                <h1>Holy smokes!  You made it!</h1>
                <h3>Welcome to The Reckoner BETA!</h3>
                <p>I'm just breaking in this new Reckonbot 3000, so any <a href="/contact-us">feedback</a> will make both me and Reckonbot smile with delight!</p>
                <h4><a href="/about">About Us!</a></h4>
                <h4><a href="/contact-us">Contact Us!</a></h4>
            </div>    
        </div>