{% extends "base.html" %}
{% load reckontags %}
{% load cache %}

{% cache TEMPLATE_CACHE_LIFESPAN blog_sidebar %}

	{% block sitecolumnclass %}
	    blog-site-column content-site-column
	{% endblock %}
	
	{% block rightsidebar %}
	    <div id="standard-sidebar" class="sidebar-content">
	       <div id="blog-label-button"><a href="/blog"><img src="{{STATIC_URL}}images/reckoner-blog-bubble.png"></a></div>
	       {% include "cast-of-characters.html" %}
           <div class="section-header"><span>TAGS!</span></div>	       
	       <div class="sidebar-background-box">
	           <ul>
	           {% for tag in nav_tags %}
	              <li><a href="/blog?tag={{tag.tag}}">{{tag.tag}} ({{tag.count}})</a></li>
	           {% endfor %}
	           </ul>
	       </div>
           <div class="section-header"><span>ARCHIVE!</span></div>	       
	       <div class="sidebar-background-box">
	           <ul>
	           {% for month in content_months %}
	              <li><a href="/blog?month={{month.month}}&year={{month.year}}">{{month|date:"b Y"}}</a></li>
	           {% endfor %}
	           </ul>
	       </div>
	    </div>
	{% endblock %}
	
	{% block javascript %}
	  {{ block.super }}
	{% endblock %}

{% endcache %}