{% extends "base.html" %}
{% load reckontags %}

{% block sitecolumnclass %}
    blog-site-column
{% endblock %}

{% block rightsidebar %}
    <div id="standard-sidebar" class="sidebar-content">
       <div id="blog-label-button"><img src="{{STATIC_URL}}images/reckoner-blog-bubble.png"></div>
       <div class="sidebar-background-box">
           <div id="cast-of-characters"><img src="{{STATIC_URL}}images/cast-of-characters.png"></div>
           <div class="character-row">
                <div class="character-portrait"><img src="{{STATIC_URL}}images/Dan-Koch-Reckon_Blog.png"></div>
                <div class="character-text person-character-text">
                    <div class="name">Dan Koch</div>
                    <div class="title">Proprietor, ReckonLabs</div>
                </div>
           </div>
           <div class="character-row">
                <div class="character-portrait"><img src="{{STATIC_URL}}images/reckonbot-reckon-blog.png"></div>
                <div class="character-text">
                    <div class="name">Reckonbot 3000</div>
                    <div class="title">Pit Boss</div>
                </div>
           </div>
       </div>
    </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% include "top-reckonings-ajax.html" %}
  {% include "related-reckonings-ajax.html" %} 
{% endblock %}