  <script type="text/javascript">
      function getRecentBlogEntries(size) {
          
          $.get("/ajax/content/recentblog", "size=" + size, 
                  function(data) {
                      var message = $( data ).find( 'message_description' ),
                      success = $( data ).find( 'success' ).text();
                      
                      if (success.toLowerCase() === 'true') {
                          $('#blog-box-content').empty();
                          $( data ).find('content').each(function() {
                              var $content = $(this);
                              var title = $(this).find('title').text();
                              var summary = $(this).find('summary').text();
                              var postingDate = $(this).find('posting_date').text().replace("T"," ");
                              var firstName = $(this).find('user > first_name').text();
                              var lastName = $(this).find('user > last_name').text();
                              var userURL = $(this).find('user > url').text();
                              var postURL = $(this).children('url').text();
                              
                              var html = '<div class="blog-list-item">';
                              html += '<div class="blog-title">' + '<a href="' + postURL + '">' + title + '</a></div>';
                              html += '<div class="blog-subtitle">' + 'Posted By <a href="' + userURL + '">' + firstName + ' ' + lastName + '</a> &middot; ' + postingDate + '</div>';
                              html += '<div class="blog-content">' + summary.substring(0, 300).replace(/(<([^>]+)>)/ig,"") + '...</div>';
                              html += '<div class="blog-read-more">' + '<a href="' + postURL + '"> Read More! </a></div>';
                              html += '</div>';
                              html += '<hr class="reckoning-divider">'
                              
                              $('#blog-box-content').append(html);
                          })
                      } else {
                          $("#blog-box-content").empty().append(message);
                      }                             
                  }
              , "xml")        
      }
      
      $(document).ready(function(){ 
          getRecentBlogEntries(2);
      });
 </script>