{% extends "reckoning_list_sidebar.html" %}
{% load reckontags %}

{% block pagetitle %}The Reckoner! - Finished Reckonings!{% endblock %}

{% block fb-title %}"The Reckoner! - Finished Reckonings!"{% endblock %}
{% block fb-url %}"{{ SITE_ROOT }}{{ page_url }}"{% endblock %}
{% block fb-description %}"They asked, the world answered! Catch the latest finished Reckonings on The Reckoner to see the awesome power of Democracy!"{% endblock %}

{% block gplus-title %}"The Reckoner! - Finished Reckonings!"{% endblock %}
{% block gplus-description %}"They asked, the world answered! Catch the latest finished Reckonings on The Reckoner to see the awesome power of Democracy!"{% endblock %}

{% block canon-url %}"{{ SITE_ROOT }}{{ page_url }}"{% endblock %}

{% block extraheader %}
      <script src="{{ STATIC_URL }}js/ajax-post.js"></script>
{% endblock %}

{% block main %}
    <div id="closed-reckonings-page">
        <div class=page-header><h1>Closed Reckonings</h1></div>
        <div class="reckonings-list-box tab-box">
            <div class="reckoning-tabs">
                <div class="reckoning-tab reckoning-tab-left {% if tab == "newest" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=newest">Newest!</a></h3>
                </div>
                <div class="reckoning-tab {% if tab == "popular" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=popular">Most Popular!</a></h3>
                </div>
                <div class="reckoning-tab {% if tab == "leastpopular" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=leastpopular">Least Popular!</a></h3>
                </div>
                <div class="reckoning-tab reckoning-tab-right {% if tab == "highlighted" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=highlighted">Highlighted!</a></h3>
                </div>      
                <div class="float-clear"></div>                          
            </div>
            <div class="reckonings-content-section">
                {% for reckoning in reckonings %}
                    {% include "reckoning_list_item.html" %}
                    <hr class="reckoning-divider">
                {% endfor %}
            </div>
            <div class="paging-section">
                {% include "paging_widget.html" %}
            </div>
        </div>
    </div>        
{% endblock %}

{% block rightsidebar %}
    {% include "tag_filter_widget.html" %}
{% endblock %}
