{% extends "standard_sidebar.html" %}

{% block pagetitle %}The Reckoner! - Post A Reckoning!{% endblock %}

{% block main %}
    <div id="contact-us-success-page" class="static-page">
        <div class="page-header"><h1>THANKS!</h1></div>
        <h3>Hot diggity! Your message went through successfully!</span></h3>
        <p>We're checking our inbox every day, so we'll get back to you shortly!  Thanks for pinging us, and thanks for enjoying The Reckoner!</p>
        {% include "signature.html" %}
    </div>
{% endblock %}