<script type="text/javascript">
      $(function(){
         $(".comment-favorite-form").submit(function(e) {
             e.preventDefault();
             var $form = $( this ),
                 commentId = $form.find("input[name=comment-id]").val(),
                 dataType = $form.find("input[name=data-type]").val();
             
             $.post("/ajax/notes/" + dataType +  "/comment/favorite/" + commentId, null,
                    function(data) {                 
                       var message = $( data ).find( 'message_description' ),
                           success = $( data ).find( 'success' ).text();                   
                       $("#comment-favorite-form-" + commentId).empty().append(message);
                       
                       if (success.toLowerCase() === 'true') {
                           var favCount = parseInt($("#favorite-count-" + commentId).html()) + 1;
                           $("#favorite-count-" + commentId).empty().append(favCount);
                           $("#favorite-" + commentId).removeClass("no-favorites");
                       }
                    } 
                    , "xml")
         }); 
      });
      
      $(function(){
          $(".comment-flag-form").submit(function(e) {
              e.preventDefault();
              var $form = $( this ),
                  commentId = $form.find("input[name=comment-id]").val(),
                  dataType = $form.find("input[name=data-type]").val();
              
              $.post("/ajax/notes/" + dataType +  "/comment/flag/" + commentId, null,
                     function(data) {                 
                        var message = $( data ).find( 'message_description' ),
                            success = $( data ).find( 'success' ).text();                   
                        $("#comment-flag-form-" + commentId).empty().append(message);
                     } 
                     , "xml")
          }); 
       });
      
      $(function(){
          $(".comment-edit-initialize-form").submit(function(e) {
              e.preventDefault();
              var $form = $( this ),
                  commentId = $form.find("input[name=comment-id]").val();
              
              $("#comment-text-" + commentId).hide();
              $("#comment-edit-form-" + commentId).show();
                        
              $("#user-comment-edit-field-" + commentId).ckeditor(
                      function () { /* Callback code */}, {
                          forcePasteAsPlainText: true,
                          skin: 'v2',
                          toolbar: 'Basic' 
                      }             
                );   
          }); 
       });
      
      $(function(){
          $(".comment-edit-form").submit(function(e) {
              e.preventDefault();
              var $form = $( this ),
                  commentId = $form.find("input[name=comment-id]").val(),
                  comment = $form.find("textarea[name=comment]"),
                  dataType = $form.find("input[name=data-type]").val();
                        
              $.post("/ajax/comment/" + dataType +  "/update", $form.serialize(),
                      function(data) {                 
                         var message = $( data ).find( 'message_description' ),
                             success = $( data ).find( 'success' ).text();                   
                         $(".message-" + commentId).empty().append(message);
                         
                         if (success.toLowerCase() === 'true') {
                             $("#comment-text-" + commentId).html(comment.val());
                             $("#comment-text-" + commentId).show();
                             $("#comment-edit-form-" + commentId).hide();                       
                         }
                      } 
                      , "xml")
          }); 
       });
      
      $(function(){
          $(".comment-delete-form").submit(function(e) {
              e.preventDefault();
              var $form = $( this ),
                  commentId = $form.find("input[name=comment-id]").val(),
                  dataType = $form.find("input[name=data-type]").val();
                  
              var accepted = confirm('Delete comment ' + commentId + '?\n\n');
                        
              if (accepted) {        
	              $.post("/ajax/comment/" + dataType +  "/delete", $form.serialize(),
	                      function(data) {                 
	                         var message = $( data ).find( 'message_description' ),
	                             success = $( data ).find( 'success' ).text();                   
	                         $(".message-" + commentId).empty().append(message);
	                         
	                         if (success.toLowerCase() === 'true') {
	                             $("#comment-" + commentId).html("<b>Deleted!<b>");                   
	                         }
	                      } 
	                      , "xml")
              }
          }); 
       });
    
      $(function(){
          $(".favorite-form").submit(function(e) {
              e.preventDefault();
              var $form = $( this ),
              dataType = $form.find("input[name=data-type]").val(),
              dataId = $form.find("input[name=" + dataType + "-id]").val();
                  
              $.post("/ajax/notes/" + dataType +  "/favorite/" + dataId, null,
                     function(data) {                 
                        var message = $( data ).find( 'message_description' ),
                            success = $( data ).find( 'success' ).text();                   
                        $("#" + dataType + "-favorite-form-" + dataId).empty().append(message);
                        
                        if (success.toLowerCase() === 'true') {
                            var favCount = parseInt($("#favorite-count-" + dataId).html()) + 1;
                            $("#favorite-count-" + dataId).empty().append(favCount);
                        }
                     } 
                     , "xml")
          }); 
       });
      
      $(function(){
          $(".flag-form").submit(function(e) {
        	  e.preventDefault();
              var $form = $( this ),
              dataType = $form.find("input[name=data-type]").val(),
              dataId = $form.find("input[name=" + dataType + "-id]").val();
              
              $.post("/ajax/notes/" + dataType +  "/flag/" + dataId, null,
                     function(data) {                 
                        var message = $( data ).find( 'message_description' ),
                            success = $( data ).find( 'success' ).text();                   
                        $("#" + dataType + "-flag-form-" + dataId).empty().append(message);
                     } 
                     , "xml")
          }); 
       });
      
      $(function(){
          $(".anonymize-vote-form").submit(function(e) {
              e.preventDefault();
              var $form = $( this ),
              userId = $form.find("input[name=user-id]").val(),
              reckoningId = $form.find("input[name=reckoning-id]").val(),
              answerIndex = $form.find("input[name=answer-index]").val(),
              currStatus = $form.find("input[name=current-status]").val();
              
              if (currStatus === "True") {
            	  var nextStatus = false;
              } else {
            	  var nextStatus = true;
              }
              
              $.post("/ajax/vote/update/" + reckoningId + "/" + userId + "/" + answerIndex, "anonymous=" + nextStatus,
                     function(data) {                 
                        var message = $( data ).find( 'message_description' ),
                            success = $( data ).find( 'message' ).text();
                        
                        if (success.toLowerCase() === 'success' && nextStatus) {
                            $("#anonymize-vote-form-" + reckoningId).empty().append("(Anonymized!)");                        	
                        } else if (success.toLowerCase() === 'success' && !nextStatus) {
                            $("#anonymize-vote-form-" + reckoningId).empty().append("(De-Anonymized!)");                         
                        } else {
                        	$("#anonymize-vote-form-" + reckoningId).empty().append(message);
                        }

                     } 
                     , "xml")
          }); 
       });
</script>