<div id="search-widget">
    <div id="search" style="width:200px;text-align:right;padding-right:6px;">
    <form action="/search" id="cse-search-box" style="margin:0px;padding:0px;">
        <div>
            <input type="text" name="q" size="16" class="search-text-box">
            <input type="submit" name="sa" value="Search" class="search-button">
        </div>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
    </div>
</div>