<div id="search-widget">
    <div id="search" style="width:200px;text-align:right;padding-right:6px;">
    <form action="/search" id="cse-search-box" style="margin:0px;padding:0px;">
        <div>
            <input type="text" name="q" size="31" style="width: 120px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; ">
            <input type="submit" name="sa" value="Search" style="margin-left:3px;">
        </div>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
    </div>
</div>