<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" version="XHTML+RDFa 1.0" dir="ltr" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" class="js">
<head profile="http://www.w3.org/1999/xhtml/vocab">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <!--  Metadata about the website -->
  <meta content="The Reckoner - Life is Full of Decisions, The Reckoner Can Help!" about="/" property="dc:title">
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/reckoner-favicon.png" type="image/vnd.microsoft.icon">
  <meta name="description" content= {% block pagedescription %} "The Reckoner, by ReckonLabs!" {% endblock %}>
  <meta name="keywords" content={% block pagekeywords %}"The Reckoner, ReckonLabs, Dan Koch, Democracy"{% endblock %}>
  <title>{% block pagetitle %} The Reckoner! - Life's decisions made easy through Democracy! {% endblock %}</title>
  <link rel="canonical" href={% block canon-url %}"/"{% endblock %}>
  
  <!-- Information used for Facebook support (including the FB Like button) -->
  <meta property="og:title" content={% block fb-title %}"The Reckoner"{% endblock %}/>
  <meta property="og:type" content="{{ FACEBOOK_SITE_TYPE }}" />
  <meta property="og:url" content={% block fb-url %}"http://www.thereckoner.net"{% endblock %}/>
  <meta property="og:image" content={% block fb-image %}"{{ STATIC_URL }}images/The_Reckoner_Icon.png"{% endblock %} />
  <meta property="og:site_name" content="{{ SITE_NAME }}" />
  <meta property="fb:admins" content="{{ FACEBOOK_ADMIN_ID }}" />
  <meta property="fb:page_id" content="{{ FACEBOOK_PAGE_ID }}" />
  <meta property="og:description"
        content={% block fb-description %}"Life is full of decisions - the Reckoner can help! Post your question on the Reckoner, and have it answered by the whole world -- all seven billion of us!"{% endblock %}/>
  
  <!-- Information used for Google+ support (including the +1 Button) -->
  <meta itemprop="name" content={% block gplus-title %}"The Reckoner!"{% endblock %}>
  <meta itemprop="description" content={% block gplus-description %}"Life is full of decisions - the Reckoner can help! Post your question on the Reckoner, and have it answered by the whole world -- all seven billion of us!"{% endblock %}>
  <meta itemprop="image" content={% block gplus-image %}"{{ STATIC_URL }}images/The_Reckoner_Icon.png"{% endblock %}>
    
  <!-- CSS Includes -->
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reckoner.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/html-reset.css">

  <!-- Javascript Includes -->
  <script src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>
  
  <!-- Google Analytics -->
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24613262-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  <!-- End Google Analytics -->
  
  <!-- RSS Feeds -->
  <link rel="alternate" type="application/rss+xml" title="The Reckoner! Open Reckonings!" href="/feed/open-reckonings" />
  <link rel="alternate2" type="application/rss+xml" title="The Reckoner! Finished Reckonings!" href="/feed/finished-reckonings" />
  <link rel="alternate3" type="application/rss+xml" title="The Reckoner! Blog!" href="/feed/blog" />
  
  {% block extraheader %}{% endblock %}
</head itemscope itemtype="http://schema.org/Article">
<body>
  {% block socialjdk %} 
     {% include "social-jdk.html" %}
  {% endblock %}
  
  {% block pagebody %} {% endblock %}
</body>


{% block javascript %} {% endblock %}
