{% extends "standard_sidebar.html" %}
{% load reckontags %}
{% load humanize %}

{% block pagetitle %}The Reckoner! Life's Decisions Made Easy!{% endblock %}

{% block fb-title %}"The Reckoner! Life's Decisions Made Easy!"{% endblock %}
{% block fb-url %}"{{ SITE_ROOT }}"{% endblock %}
{% block fb-description %}"It's The Reckoner!  Post your binary, yes/no, good/bad question, and get it answered by the world!  Or tune in and vote on the questions of other Reckonauts!"{% endblock %}

{% block gplus-title %}"The Reckoner! Life's Decisions Made Easy!"{% endblock %}
{% block gplus-description %}"It's The Reckoner!  Post your binary, yes/no, good/bad question, and get it answered by the world!  Or tune in and vote on the questions of other Reckonauts!"{% endblock %}

{% block canon-url %}"{{ SITE_ROOT }}"{% endblock %}

{% block extraheader %}
      <script src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block main %}
	<div id="main-page">
	    <div class="main-area">
	       <div id="individual-entry" class="highlighted-reckoning section">
	           <div class="question-section">
		            <div class="reckoning-question"><h2><a href="{{reckoning.getURL}}">{{reckoning.question}}</a></h2></div>
		            <div id="gallery" class="media-wrapper">
		                {% for media in reckoning.media_items %}
		                   {% if media.media_type == "IMAGE" %}   
		                       {% if reckoning.media_items|length >= 2 %} 
		                            <div class="image-wrapper image-wrapper-small">
		                                <a rel="gallery" href="{{media.full_url}}" title="{{media.name}}">
		                                <img src="{{media.small_url}}">
		                                </a>
		                            </div>
		                       {% else %} 
		                            <div class="image-wrapper">
		                                <a rel="gallery" href="{{media.full_url}}" title="{{media.name}}">
		                                <img src="{{media.url}}">
		                                </a>
		                            </div>
		                       {% endif %}                               
		                        
		                   {% endif %}
		                {% endfor %}
		            </div> 
		            <div class="reckoning-description"><p>{{reckoning.description|safe}}</p></div>
	           </div>
	           <div class="voting-section">
                    {% include "reckon-two-voting-box.html" %}	
               </div>
               <div class="metadata-section">
					 <div class="spec-wrapper">
					     <div class="tags-wrapper">
					         <div class="label">Tags:</div>
					         <div class="tags">
					             {% for tag in reckoning.tags %}
					               {{tag|print_tag_link}}{% if not forloop.last %}, {% endif %}
					             {% endfor %}
					         </div>
					     </div>
					     <div class="time-wrapper">
					         {% if reckoning.open %}
					             <div class="label">Remaining Time:</div>
					             <div class="time">
					                {{ reckoning.closing_date|until_time }}
					             </div>                    
					         {% else %}
					             <div class="label">Closing Time:</div>
					             <div class="time">
					                 {{reckoning.closing_date}}
					             </div>
					         {% endif %}
					     </div>
					 </div>
					 <div class="poster-wrapper">
					     <div class="profile-picture-wrapper"><img src="{{reckoning.posting_user|print_profile_picture}}" class="profile-picture"></div>
					     <div class="label">Posted By:</div>
					     <div class="poster-name">{{reckoning.posting_user|print_user_name}}</div>
					     <div class="poster-date">{{reckoning.posting_date}}</div>
					 </div>
               </div>   
               <div class="bottom-section"></div>        
	       </div>
           <hr class="section-divider">
           <div class="recent-reckonings section">
               <div class="section-header"><span><a href="/open-reckonings?tab=popular">HOT RECKONINGS!</a></span></div>
               <hr class="reckoning-divider">
               {% for popular_reckoning in popular_reckonings %}
                   <div class="reckoning">
                       <div class="reckoning-stats">
                           <div class="stat-box views-stat-box">
                              <div class="count">{{ popular_reckoning.views|condense_int }}</div>
                              <div class="box-label">VIEW{% if popular_reckoning.views != 1 %}S{%endif%}</div> 
                           </div>
                           <div class="stat-box votes-stat-box">
                              <div class="count">{{ popular_reckoning.getTotalVotes|condense_int}}</div>
                              <div class="box-label">VOTE{% if popular_reckoning.getTotalVotes != 1 %}S{%endif%}</div>
                           </div>
                       </div>
                       <div class="reckoning-text">
                           <div class="reckoning-question"><a href="{{popular_reckoning.getURL}}">{{ popular_reckoning.question }}</a></div>
                           <div class="reckoning-data">Posted by 
                               <span class="poster-name">{{popular_reckoning.posting_user|print_user_name}}</span> - 
                               <span class="time-remaining">{{ popular_reckoning.closing_date|until_time }} Remaining</span>
                           </div>
                       </div>
                   </div>
                   <hr class="reckoning-divider">
               {% endfor %}
               <div class="see-more-link"><a href="/open-reckonings?tab=popular">(See More Reckonings!)</a></div>
           </div>
	       <hr class="section-divider">
	       <div class="recent-reckonings section">
               <div class="section-header"><span><a href="/open-reckonings?tab=newest">RECENT RECKONINGS!</a></span></div>
               <hr class="reckoning-divider">
	           {% for recent_reckoning in recent_reckonings %}
	               <div class="reckoning">
                       <div class="reckoning-stats">
                           <div class="stat-box views-stat-box">
                              <div class="count">{{ recent_reckoning.views|condense_int }}</div>
                              <div class="box-label">VIEW{% if recent_reckoning.views != 1 %}S{%endif%}</div> 
                           </div>
                           <div class="stat-box votes-stat-box">
                              <div class="count">{{ recent_reckoning.getTotalVotes|condense_int}}</div>
                              <div class="box-label">VOTE{% if recent_reckoning.getTotalVotes != 1 %}S{%endif%}</div>
                           </div>
                       </div>
                       <div class="reckoning-text">
			               <div class="reckoning-question"><a href="{{recent_reckoning.getURL}}">{{ recent_reckoning.question }}</a></div>
			               <div class="reckoning-data">Posted by 
			                   <span class="poster-name">{{recent_reckoning.posting_user|print_user_name}}</a></span> - 
			                   <span class="time-remaining">{{ recent_reckoning.closing_date|until_time }} Remaining</span>
			               </div>
		               </div>
	               </div>
               <hr class="reckoning-divider">	               
	           {% endfor %}
	           <div class="see-more-link"><a href="/open-reckonings?tab=newest">(See More Reckonings!)</a></div>
	       </div>
	    </div>
        <hr class="section-divider">
	    <div class="secondary-area">
	       <div class="secondary-block block-1 section">
	           <div class="section-header"><span><a href="/open-reckonings?tab=lastcall">LAST CALL RECKONINGS!</a></span></div>
               <hr class="reckoning-divider">	           
               {% for last_call_reckoning in last_call_reckonings %}
                   <div class="reckoning">                   
	                   <div class="reckoning-question"><a href="{{last_call_reckoning.getURL}}">{{ last_call_reckoning.question }}</a></div>
	                   <div class="reckoning-data">Posted by 
	                       <span class="poster-name">{{last_call_reckoning.posting_user|print_user_name}}</a></span> - 
	                       <span class="time-remaining">{{ last_call_reckoning.closing_date|until_time }} Remaining</span>
	                   </div>
                   </div>
                   <hr class="reckoning-divider">                   
               {% endfor %}
               <div class="see-more-link"><a href="/open-reckonings?tab=lastcall">(See More!)</a></div>	       
	       </div>
           <div class="secondary-block block-2 section">
               <div class="section-header"><span><a href="/finished-reckonings?tab=newest">FINISHED RECKONINGS!</a></span></div>
               <hr class="reckoning-divider">               
               {% for finished_reckoning in finished_reckonings %}
                   <div class="reckoning">   
	                   <div class="reckoning-question"><a href="{{finished_reckoning.getURL}}">{{ finished_reckoning.question }}</a></div>
	                   <div class="reckoning-data">Posted by 
	                       <span class="poster-name">{{finished_reckoning.posting_user|print_user_name}}</span> - 
	                       <span class="time-remaining">Closed {{ finished_reckoning.closing_date|time_since }} Ago</span>
	                   </div>
	               </div>
                   <hr class="reckoning-divider">	               
               {% endfor %}
               <div class="see-more-link"><a href="/finished-reckonings?tab=newest">(See More!)</a></div>           
           </div>
	    </div>
	</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
      <script src="{{ STATIC_URL }}js/image-gallery-min.js"></script>
      
      <script type="text/javascript">
	      $(document).ready(function(){ 
	          var largestHeight = 0;
	          
	          // The rendering adjustment compensates for how the button 'table-cells' are rendered.
	          // Also establishes a minimum size.
	          var renderAdjustment = 20;
	     
	          $('.button-area').find(".reckonbutton > span").each(function() {
	              if ($(this).height() > largestHeight) {
	                largestHeight = $(this).height();
	              }
	          });
	          
	          $('.button-area').find(".reckonbutton > span").each(function() {
	              $(this).css('height', largestHeight + renderAdjustment);
	          });
	          
	          // Initialize the Image Gallery for Attached Media
	          $('#gallery').imagegallery();
	      });
      </script>
{% endblock %}