{% extends "base.html" %}

{% block pagetitle %}The Reckoner! - Post A Reckoning!{% endblock %}

{% block main %}
    <div id="post-reckoning-thanks-page" class="static-page">
        <div class="page-header"><h1>POST A RECKONING!</h1></div>
        <h3>Your Reckoning is in Reckonbot's queue!</span></h3>
        <p>If your Reckoning gets approved, it's out there for the world to reckon!  You'll see it on the site as well as in your profile.  Reckonbot does a sweep for tags and grammar, so there may be some minor formatting changes to your posting, but it's live!</p>
        <p>If Reckonbot turns it down, we'll shoot a message to your Facebook or Google+ account letting you know what happened.</p>
        <p>In the meantime, check out the other Reckonings back at the site!</p>
        <h3>Thanks again, and good luck!</h3>
        <div class="signature-block">
            <img src="{{ STATIC_URL }}images/dan_koch_with_signature.jpg" alt="Yours Truly, Dan Koch"/>
            <h4>Dan Koch</h4>
        </div>
    </div>
{% endblock %}