{% load reckontags %}

 <div class="spec-wrapper">
     <div class="tags-wrapper">
         <div class="label">Tags:</div>
         <div class="tags">
             {% for tag in reckoning.tags %}
                 {{tag.tag}}{% if not forloop.last %}, {% endif %}
             {% endfor %}
         </div>
     </div>
     <div class="time-wrapper">
         {% if reckoning.open %}
             <div class="label">Remaining Time:</div>
             <div class="time">
                {{ reckoning.closing_date|until_time }}
             </div>                    
         {% else %}
             <div class="label">Closing Time:</div>
             <div class="time">
                 {{reckoning.closing_date}}
             </div>
         {% endif %}
     </div>
 </div>
 <div class="poster-wrapper">
     <div class="profile-picture-wrapper"><img src="{{reckoning.posting_user.profile_picture_url}}" class="profile-picture"></div>
     <div class="label">Posted By:</div>
     <div class="poster-name">{{reckoning.posting_user|print_user_name}}</div>
     <div class="poster-date">{{reckoning.posting_date}}</div>
 </div>