{% extends "base.html" %}

{% block pagetitle %}The Reckoner! - {{ reckoning.question }}{% endblock %}

{% block extraheader %}
      <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
      <script src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"> </script>
{% endblock %}

{% block main %}
    <div id="reckoning-page">
        {% if reckoning.commentary %}
        <div class="commentary-section">
            <div class="profile-picture-wrapper"><img src="{{reckoning.commentary_user.profile_picture_url}}" class="profile-picture"></div>
            <div class="profile-name">{{reckoning.commentary_user.first_name}} {{reckoning.commentary_user.last_name}}</div>
            <div class="commentary-text">{{reckoning.commentary}}</div>
        </div>
        {% endif %}
        
        <div class="question-section">
            <div class="question-wrapper"><h2>{{reckoning.question}}</h2></div> 
            <div class="description-wrapper"><p>{{reckoning.description|safe}}</p></div>           
        </div>
        <div class="voting-section">
            {% include "reckon-two-voting-box.html" %}
        </div>
        <div class="metadata-section">
            {% include "reckoning-metadata.html" %}
            <div class="bottom-wrapper"></div>
        </div>
        <hr class="section-divider">
        <div class="prev-next-section">
            {% if prev_reck %}
            <a href="{{next_reck.url}}">
            <div class="prev-wrapper">
                <img src="{{ STATIC_URL }}images/chevron_prev.png" alt="Previous Reckoning!" class="previous-reck-img"/>
                <div class="label">PREVIOUS!</div>
                <div class="question">{{ prev_reck.question }}</div>
            </div>
            </a>
            {% endif %}
            {% if next_reck %}
            <a href="{{next_reck.url}}">
            <div class="next-wrapper">
                <img src="{{ STATIC_URL }}images/chevron_next.png" alt="Next Reckoning!" class="next-reck-img"/>
                <div class="label">NEXT!</div>
                <div class="question">{{ next_reck.question }}</div>            
            </div>
            </a>
            {% endif %}
        </div>
        <hr class="section-divider">
        <div class="comment-section">
             <div class="comment-label"><img src="{{ STATIC_URL }}images/reckoning-comment-label.png" alt="Reckoning Comments!"></div>
             <div class="comment-box">
                <div class="inner-comment-box">
	                {% if reckoning.comments %}
	                    {% for comment in reckoning.comments %}
	                        <div class="comment">
		                        <div class="profile-picture-wrapper"><img src="{{comment.user.profile_picture_url}}" class="profile-picture"></div>
		                        <div class="comment-data">
			                        <div class="comment-header">
			                            <span class="profile-name">{{comment.user.first_name}} {{comment.user.last_name}}</span>
			                        </div>
			                        <div class="comment-text">{{comment.comment|safe}}</div>
			                        <div class="comment-footer">
			                            <span class="date">Posted {{comment.posting_date}}</span> -
			                            {% if 'FAVORITE' in perms %}
			                            <span class="favorite">Favorite</span> -
			                            {% endif %}      
			                            {% if 'FLAG' in perms %}
			                            <span class="flag">Flag</span>
			                            {% endif %}                            
			                        </div>
		                        </div>
	                        </div>
	                    <hr class="comment-divider">
	                    {% endfor %}
	                {% else %}
	                    <div class="no-comment-text">No comments yet!  Be the first!
	                        <div class="subtitle">(And don't say 'first!')</div>
	                    </div>
	                {% endif %}
                </div>
                {% if 'COMMENT' in perms %}
                <div class="post-comment-box inner-comment-box">
                    <h4>Post a Comment!
                        <div class="subtitle">Add your two cents!</div>
                    </h4>
                    <div class="comment">
	                    <div class="profile-picture-wrapper"><img src="{{ user.profile_picture_url }}" alt="You!" class="profile-picture"></div>
	                    <div class="comment-data">
                            <form action="" method="post">{% csrf_token %}	                    
		                        <div class="comment-header">
                                   {{errors.comment}}		                        
			                       <div class="profile-name">{{user.first_name}} {{user.last_name}}</div>
			                    </div>
                                <div class="comment-field">
                                     <label for="id_commentform-comment" class="comment-form-label"><h5>Comment!</h5></label>
                                     <textarea maxlength=5000 id="id_commentform-comment" name="commentform-comment" class="comment-edit-field"></textarea>
                                     <div class="field-notation">(5000 Character Max)<noscript> Allowed Tags: &lt;p&gt; &lt;i&gt; &lt;strong&gt; &lt;b&gt; &lt;u&gt; &lt;a&gt; &lt;pre&gt; &lt;br&gt; &lt;img&gt; &lt;ul&gt; &lt;li&gt;</noscript></div>
                                </div>
                                <div class="comment-footer">
                                     <span class="date">Posted &lt;now!&gt; - </span>
                                     <span class="favorite">Favorite &lt;of course!&gt;</span> -
                                     <span class="flag">Flag &lt;no way!&gt;</span>                              
                                </div>	
                                <div class="comment-post-options">
                                    <input type="submit" name="postcomment" value="Comment!" class="button comment-button"/> 
                                </div>		                    
		                    </form>
                        </div>
                    </div>
                </div>
                {% endif %}
             </div> 
        </div>
        <div class="post-comment-section">
            {% if not 'COMMENT' in perms %}
		        <div class="sign-up-box">
		            <h4>Want to post a comment?</h4>
		            <h2>Sign up or log in!</h2>
		            <h3>It's easy!</h3>
		            <div class="login-buttons">
		                 <div class="login-button login-button-1">    
		                     <a href="{{ FACEBOOK_OAUTH_URL }}?client_id={{ FACEBOOK_APP_ID }}&redirect_uri={{ FACEBOOK_REDIRECT_URL }}&scope={{ FACEBOOK_SCOPE }}">
		                     <img src="{{ STATIC_URL }}images/big-facebook-login-button.png" alt="Login with Facebook!">
		                     </a>     
		                 </div>
		                 <div class="login-button login-button-2">
		                     <a href="{{ GOOGLE_API_OAUTH_URL }}?client_id={{ GOOGLE_APP_ID }}&redirect_uri={{ GOOGLE_REDIRECT_URL }}&scope={{ GOOGLE_SCOPE }}&response_type=code">
		                     <img src="{{ STATIC_URL }}images/big-google-login-button.png">     
		                     </a>
		                 </div>                
		            </div>
		        </div>               
            {% endif %}
        </div>
    </div>        
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
  $(document).ready(function(){ 
      var largestHeight = 0;
      
      // The rendering adjustment compensates for how the button 'table-cells' are rendered.
      // Also establishes a minimum size.
      var renderAdjustment = 20;
 
      $('.button-area').find(".reckonbutton > span").each(function() {
          if ($(this).height() > largestHeight) {
            largestHeight = $(this).height();
          }
      });
      
      $('.button-area').find(".reckonbutton > span").each(function() {
          $(this).css('height', largestHeight + renderAdjustment);
      });
      
      $(".comment-edit-field").ckeditor(
              function () { /* Callback code */}, {
            	  forcePasteAsPlainText: true,
                  skin: 'v2',
                  toolbar: 'Basic'
              }             
            );
  });
  </script>
{% endblock %}
