{% load reckontags %}

<div class="reckoning">
    <div class="vote-boxes">
        <div class="vote-box vote-box-1 {% if reckoning.answers.0.vote_total > '0' %} vote-box-selected {% endif %}">{{ reckoning.answers.0.text }}</div>
        <div class="vote-box vote-box-2 {% if reckoning.answers.1.vote_total > '0' %} vote-box-selected {% endif %}">{{ reckoning.answers.1.text }}</div>
        <div class="anonymous-label">{% if reckoning.answers.0.votes.0.anonymous or reckoning.answers.1.votes.0.anonymous %}Anonymized!{% endif %}</div>
    </div>
    <div class="content-wrapper">
        <div class="question">
            <a href="{{ reckoning.getURL }}">{{ reckoning.question }}</a>
        </div>
        <div class="poster-wrapper">
            <div class="profile-picture-wrapper"><img src="{{reckoning.posting_user.profile_picture_url}}" class="profile-picture"></div>
            <div class="profile-info-wrapper">
                <span class="label">Posted By:</span>
                <span class="poster-name">{{reckoning.posting_user|print_user_name}}</span><br>
                <span class="poster-date">{{reckoning.posting_date}}</span>                        
            </div>
        </div>                          
        <div class="time-wrapper spec-wrapper">
             {% if reckoning.open %}
                 <div class="label">Time Remaining:</div>
                 <div class="time">
                    {{ reckoning.closing_date|until_time }}
                 </div>     
             {% else %}
                 <div class="label">Closing Date:</div>
                 <div class="time">
                    {{ reckoning.closing_date }}
                 </div>                 
             {% endif %}                             
        </div>                          
        <div class="tags-wrapper spec-wrapper">
             <span class="label">Tags:</span>
             <span class="tags">
                 {% for tag in reckoning.tags %}
                     {{tag|print_tag_link}}{% if not forloop.last %}, {% endif %}
                 {% endfor %}
             </span>
        </div>
    </div>
</div>