{% load humanize %}
 
 {% if not reckoning.open %}
     <div class="vote-label"><img src="{{ STATIC_URL }}images/reckoning-results-label.png" alt="Reckoning Results!"></div>
     {% if reckoning.getLeadingAnswer == '0' %}
     <div class="vote-box vote-box-winner-1">
        <div class="top-note-area">
            <div class="winner-text">WINNER!</div>
     {% else %}{% if reckoning.getLeadingAnswer == '1' %}
     <div class="vote-box vote-box-winner-2">
        <div class="top-note-area">
            <div class="winner-text">WINNER!</div>
     {% else %}
     <div class="vote-box vote-box-tie">
        <div class="top-note-area">
            <div class="winner-text">A TIE!</div>
     {% endif %} {% endif %}
        {% if user_vote %}
            {% if user_vote.answer_index == "0" %}
                <div class="your-vote-wrapper your-vote-wrapper-1"><img src="{{ STATIC_URL }}images/reckoning-your-vote-label.png" alt="Your vote!"/></div>
            {% else %}{% if user_vote.answer_index == "1" %}
                <div class="your-vote-wrapper your-vote-wrapper-2"><img src="{{ STATIC_URL }}images/reckoning-your-vote-label.png" alt="Your vote!"/></div>                     
            {% endif %} {% endif %}        
        {% endif %}
        </div>
        <div class="button-area">
            <div class="reckonbutton-wrapper reckonbutton-wrapper-1">
                <div class="reckonbutton button-1"><span class="button-text">{{ reckoning.answers.0.text }}</span></div>
            </div> <div class="reckonbutton-wrapper reckonbutton-wrapper-2">
                <div class="reckonbutton button-2"><span class="button-text">{{ reckoning.answers.1.text }}</span></div>
            </div>
        </div>
        
        <div class="subtitle-area">
            {% if reckoning.answers.0.subtitle %}
            <div class="subtitle-wrapper subtitle-wrapper-1">
                <div class="subtitle-text">{{ reckoning.answers.0.subtitle }}</div>
            </div> 
            {% endif %}
            {% if reckoning.answers.1.subtitle %}                       
            <div class="subtitle-wrapper subtitle-wrapper-2">
                <div class="subtitle-text">{{ reckoning.answers.1.subtitle }}</div>
            </div>
            {% endif %}
        </div>                  
        <div class="stat-area">
            <div class="stat-wrapper stats-1">
              <div class="percentage">{{ reckoning.answers.0.percentage }}</div>
              <div class="votes">({{ reckoning.answers.0.vote_total|intcomma }})</div>
            </div>
            <div class="stat-wrapper stats-2">
              <div class="percentage">{{ reckoning.answers.1.percentage }}</div>
              <div class="votes">({{ reckoning.answers.1.vote_total|intcomma }})</div>
            </div>
        </div>   
        <div class="bottom-area"></div>           
     </div>
 {% else %} {% if user_vote or errors.phony_vote or user.reckoner_id == reckoning.submitter_id %}
     <div class="vote-label"><img src="{{ STATIC_URL }}images/reckoning-status-label.png" alt="Reckoning Status!"></div>
     <div class="vote-box vote-box-open">
        <div class="top-note-area">
            {% if user_vote.answer_index == "0" %}
                <div class="your-vote-wrapper your-vote-wrapper-1"><img src="{{ STATIC_URL }}images/reckoning-your-vote-label.png" alt="Your vote!"/></div>
            {% else %}{% if user_vote.answer_index == "1" %}
                <div class="your-vote-wrapper your-vote-wrapper-2"><img src="{{ STATIC_URL }}images/reckoning-your-vote-label.png" alt="Your vote!"/></div>                     
            {% endif %} {% endif %}        
        </div>
        <div class="button-area">
            <div class="reckonbutton-wrapper reckonbutton-wrapper-1">
                <div class="reckonbutton button-1"><span class="button-text">{{ reckoning.answers.0.text }}</span></div>
            </div> <div class="reckonbutton-wrapper reckonbutton-wrapper-2">
                <div class="reckonbutton button-2"><span class="button-text">{{ reckoning.answers.1.text }}</span></div>
            </div>
        </div>
        <div class="subtitle-area">
            {% if reckoning.answers.0.subtitle %}
            <div class="subtitle-wrapper subtitle-wrapper-1">
                <div class="subtitle-text">{{ reckoning.answers.0.subtitle }}</div>
            </div> 
            {% endif %}
            {% if reckoning.answers.1.subtitle %}                       
            <div class="subtitle-wrapper subtitle-wrapper-2">
                <div class="subtitle-text">{{ reckoning.answers.1.subtitle }}</div>
            </div>
            {% endif %}
        </div>
        <div class="stat-area">
            <div class="stat-wrapper stats-1">
              <div class="percentage">{{ reckoning.answers.0.percentage }}</div>
              <div class="votes">({{ reckoning.answers.0.vote_total|intcomma }})</div>
            </div>
            <div class="stat-wrapper stats-2">
              <div class="percentage">{{ reckoning.answers.1.percentage }}</div>
              <div class="votes">({{ reckoning.answers.1.vote_total|intcomma }})</div>
            </div>
        </div>
        <div class="bottom-area">
            {% if errors.phony_vote %}
            <div class="error-box">
                <div class="error">Whoops!</div>
                <div class="description">Reckonbot thinks that you may have already voted!<br>
                We're looking into it - in the meantime, enjoy the totals!</div>
            </div>
            {% endif %}
        </div>                                      
     </div>              
 {% else %}
     <div class="vote-label"><img src="{{ STATIC_URL }}images/reckoning-vote-label.png" alt="Reckoning Status!"></div>
     <div class="vote-box vote-box-open">
        <div class="button-area">
             <div class="reckonbutton-wrapper reckonbutton-wrapper-1">
                 <form action="" method="post"> {% csrf_token %}
                     <button class="reckonbutton reckonbutton-live button-1" type="submit" name="postvote"><span class="button-text">{{ reckoning.answers.0.text }}</span></button>
                     <input type="hidden" name="answer" value="0">
                     <input type="hidden" name="id" value="{{reckoning.id}}">
                 </form>
             </div> 
             <div class="reckonbutton-wrapper reckonbutton-wrapper-2">
                 <form action="" method="post"> {% csrf_token %}
                     <button class="reckonbutton reckonbutton-live button-2" type="submit" name="postvote"><span class="button-text">{{ reckoning.answers.1.text }}</span></button>
                     <input type="hidden" name="answer" value="1">
                     <input type="hidden" name="id" value="{{reckoning.id}}">
                 </form>
             </div>
        </div>
        <div class="subtitle-area">
            {% if reckoning.answers.0.subtitle %}
            <div class="subtitle-wrapper subtitle-wrapper-1">
                <div class="subtitle-text">{{ reckoning.answers.0.subtitle }}</div>
            </div> 
            {% endif %}
            {% if reckoning.answers.1.subtitle %}                       
            <div class="subtitle-wrapper subtitle-wrapper-2">
                <div class="subtitle-text">{{ reckoning.answers.1.subtitle }}</div>
            </div>
            {% endif %}
        </div>
        <div class="bottom-area">
            {% if errors.vote_error  %}
            <div class="error-box">
                <div class="error">Whoops!</div>
                <div class="description">Reckonbot crashed on that last vote.<br>
                We're looking into it - try back soon!</div>
            </div>
            {% endif %}
        </div>                                  
     </div>              
 {% endif %} {% endif %}
 