{% extends "base.html" %}
{% load reckontags %}

{% block sitecolumnclass %}
    regular-site-column
{% endblock %}

{% block rightsidebar %}
    <div id="standard-sidebar" class="sidebar-content">
       {% include "tag_filter_widget.html" %}
       {% include "top-reckonings.html" %}
       {% include "social-sidebar-box.html" %}
       {% include "rss-sidebar-box.html" %}
    </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% include "top-reckonings-ajax.html" %}
{% endblock %}