{% load reckontags %}

<div class="reckoning">
    <div class="stat-boxes">
        <div class="stat-box views-stat-box">
            <div class="count">{{ reckoning.views|condense_int }}</div>
            <div class="box-label">VIEW{% if reckoning.views != 1 %}S{%endif%}</div>                                 
        </div>
        <div class="stat-box votes-stat-box">
            <div class="count">{{ reckoning.getTotalVotes|condense_int}}</div>
            <div class="box-label">VOTE{% if reckoning.getTotalVotes != 1 %}S{%endif%}</div>
        </div>
    </div>
    <div class="content-wrapper">
        {% if not reckoning.approved %}
	        <div class="question">
	            *PENDING APPROVAL*<br>{{ reckoning.question }}
	        </div>
        {% else %}
	        <div class="question">
	            <a href="{{ reckoning.getURL }}">{{ reckoning.question }}</a>
	        </div>
        {% endif %}
        <div class="poster-wrapper">
            <div class="profile-picture-wrapper"><img src="{{reckoning.posting_user|print_profile_picture}}" class="profile-picture"></div>
            <div class="profile-info-wrapper">
                <span class="label">Posted By:</span>
                <span class="poster-name">{{reckoning.posting_user|print_user_name}}</span><br>
                <span class="poster-date">{{reckoning.posting_date}}</span>                        
            </div>
        </div>                          
        <div class="time-wrapper spec-wrapper">
             {% if reckoning.open %}
                 <div class="label">Time Remaining:</div>
                 <div class="time">
                    {{ reckoning.closing_date|until_time }}
                 </div>     
             {% else %}
                 <div class="label">Closing Date:</div>
                 <div class="time">
                    {{ reckoning.closing_date }}
                 </div>                 
             {% endif %}                             
        </div>                          
        <div class="tags-wrapper spec-wrapper">
             <span class="label">Tags:</span>
             <span class="tags">
                 {% for tag in reckoning.tags %}
                     {{tag|print_tag_link}}{% if not forloop.last %}, {% endif %}
                 {% endfor %}
             </span>
        </div>
    </div>
</div>