{% extends "base.html" %}
{% load reckontags %}
{% load cache %}

{% cache TEMPLATE_CACHE_LIFESPAN standard_sidebar %}

	{% block sitecolumnclass %}
	    regular-site-column
	{% endblock %}
	
	{% block rightsidebar %}
	    <div id="standard-sidebar" class="sidebar-content">
	       {% include "podcast-sidebar-section.html" with jplayer_id="jplayer-podcast-sidebar" %}
           {% include "social-sidebar-box.html" %}
	       {% include "how-it-works-box.html" %}
	       {% include "blog-box.html" %}
	       {% include "top-reckonings.html" %}
	       {% include "rss-sidebar-box.html" %}
	    </div>
	{% endblock %}
	
	{% block javascript %}
	  {{ block.super }}
	  {% include "top-reckonings-ajax.html" %}
	  {% include "blog-box-ajax.html" %}
	  
      {% for media in last_podcast.media_items %}
          {% if media.media_type == 'AUDIO' %}
              {% include "jplayer-jquery.html" with button="true" jplayer_id="jplayer-podcast-sidebar" music_file=media.url %}
          {% endif %}
      {% endfor %}
	{% endblock %}

{% endcache %}