{% extends "base.html" %}
{% load reckontags %}

{% block pagetitle %}The Reckoner! - Reckonings Tagged With {{inlcude_tags}}!{% endblock %}

{% block fb-title %}"The Reckoner! - Reckonings Tagged With {{inlcude_tags}}!"{% endblock %}
{% block fb-url %}"{{ SITE_ROOT }}{{ page_url }}"{% endblock %}
{% block fb-description %}"Check out all of the Reckonings tagged with {{inlcude_tags}} over the years/months/days!  It'll wilt your eyebrows!"{% endblock %}

{% block gplus-title %}"The Reckoner! - Reckonings Tagged With {{inlcude_tags}}!"{% endblock %}
{% block gplus-description %}"Check out all of the Reckonings tagged with {{inlcude_tags}} over the years/months/days!  It'll wilt your eyebrows!"{% endblock %}

{% block canon-url %}"{{ SITE_ROOT }}{{ page_url }}"{% endblock %}

{% block extraheader %}
      <script src="{{ STATIC_URL }}js/ajax-post.js"></script>
      <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
      <script src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"> </script>
{% endblock %}

{% block main %}
    <div id="open-reckonings-page">
        <div class=page-header><h1>Reckonings Tagged With<br>'{{include_tags}}'</h1></div>
        <div class="reckonings-list-box tab-box">
            <div class="reckoning-tabs">
                <div class="reckoning-tab reckoning-tab-left {% if tab == "open" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=open">Open!</a></h3>
                </div>
                <div class="reckoning-tab {% if tab == "closed" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=closed">Closed!</a></h3>
                </div>
                <div class="reckoning-tab {% if tab == "popular" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=popular">Popular!</a></h3>
                </div>
                <div class="reckoning-tab reckoning-tab-right {% if tab == "highlighted" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=highlighted">Highlighted!</a></h3>
                </div>      
                <div class="float-clear"></div>                          
            </div>
            <div class="reckonings-content-section">
                {% for reckoning in reckonings %}
                    {% include "reckoning_list_item.html" %}
                    <hr class="reckoning-divider">
                {% endfor %}
            </div>
            <div class="paging-section">
                {% include "paging_widget.html" %}
            </div>
        </div>
    </div>        
{% endblock %}
