        <div id="top-reckonings-section" class="sidebar-section">
            <div class="section-header"><span><a href="/open-reckonings?tab=highlighted">TOP RECKONINGS!</a></span></div>
            <div id="top-reckonings-box" class="sidebar-tab-box">
                <div class="reckoning-tabs">
                    <div id="top-reckonings-open-tab" class="reckoning-tab reckoning-tab-left reckoning-tab-selected">
                        <h3>Open!</h3>
                    </div>
                    <div id="top-reckonings-closed-tab" class="reckoning-tab reckoning-tab-right">
                        <h3>Closed!</h3>
                    </div>
                    <div class="float-clear"></div>  
                </div>
                <div class="reckonings-content-section">
                    <div id="top-reckonings-message" class="ajax-message"></div>
                    <div id="top-reckonings-content"></div>
                </div>               
            </div>    
        </div>