{% extends "standard_sidebar.html" %}
{% load reckontags %}

{% block pagetitle %}The Reckoner! - User Profile: {{profile_user.first_name}} {{profile_user.last_name}}{% endblock %}

{% block fb-title %}"The Reckoner! - User Profile: {{profile_user.first_name}} {{profile_user.last_name}}"{% endblock %}
{% block fb-url %}"{{ SITE_ROOT }}{{ page_url }}"{% endblock %}
{% block fb-description %}"Take a look at the Reckoning history of our prized Reckonaut, {{profile_user.first_name}} {{profile_user.last_name}}!"{% endblock %}

{% block gplus-title %}"The Reckoner! - User Profile: {{profile_user.first_name}} {{profile_user.last_name}}"{% endblock %}
{% block gplus-description %}"Take a look at the Reckoning history of our prized Reckonaut, {{profile_user.first_name}} {{profile_user.last_name}}!"{% endblock %}

{% block canon-url %}"{{ SITE_ROOT }}{{ page_url }}"{% endblock %}

{% block extraheader %}
      <script src="{{ STATIC_URL }}js/ajax-post.js"></script>
      <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
      <script src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"> </script>
{% endblock %}

{% block main %}
    <div id="user-profile-page">
        {% if profile_user.id == user.reckoner_id %}
            <div class=page-header><h1>Howdy {{profile_user.first_name}}!</h1></div>
        {% else %}
            <div class=page-header><h1>Reckonaut {{profile_user.first_name}} {{profile_user.last_name}}!</h1></div>            
        {% endif %}
        <div class="profile-info-section">
            <div class="profile-overview profile-box">
	            <div class="profile-picture-wrapper"><img src="{{profile_user.profile_picture_url}}" alt="Reckonaut {{profile_user.first_name}} {{profile_user.last_name}}"></div>
	            <div class="poster-name">{{profile_user.first_name}} {{profile_user.last_name}}</div>
	            <div class="poster-links">
	                <div class="poster-link">(<a href="{{profile_user.profile_url}}">{{profile_user.auth_provider|lower}} Profile</a>)</div>
	            </div>
	            <div class="poster-dates">
	                <div class="label">Joined On:</div>
	                <div class="date">{{profile_user.first_login}}</div>
	            </div>           
            </div>
	        <div class="profile-stats">
	            <div class="profile-counts">
	                <div class="profile-count-box">
	                    <div class="count">{{ reckoning_count|condense_int }}</div>
	                    <div class="box-label">POST{% if reckoning_count != 1 %}S{%endif%}</div>
	                </div>
	                <div class="profile-count-box">
	                    <div class="count">{{ vote_count|condense_int }}</div>
	                    <div class="box-label">VOTE{% if vote_count != 1 %}S{%endif%}</div>
	                </div>
	                <div class="profile-count-box">
	                    <div class="count">{{ comment_count|condense_int }}</div>
	                    <div class="box-label-small">COMMENT{% if comment_count != 1 %}S{%endif%}</div>
	                </div>
	                <div class="profile-count-box">
	                    <div class="count">{{ tracking_count|condense_int }}</div>
	                    <div class="box-label-small">TRACKING</div>
	                </div>
	            </div>
	        </div>
	        <div class="profile-bio bio-box">
	           <div class="label">
	               Give us the details on how you became a Reckonaut!  Who'd play you in The Reckoner movie?
	           </div> 
	           <hr class="bio-divider">
	           <div class="bio-text">
                   {{profile_user.bio|safe}}
	           </div>
               {% if profile_user.id == user.reckoner_id or 'UPDATE_PROFILE_INFO' in perms %}
                   <form id="bio-edit-form" style="display: none">{% csrf_token %}
	                   <input type="hidden" name="user-id" value="{{profile_user.id}}">                        
	                   <textarea maxlength=1000 id="id_user-bio" name="user-bio" class="user-bio-edit-field">{% if profile_user.bio %}{{profile_user.bio}}{% endif %}</textarea>
	                   <input type="submit" name="save" value="Save" class="button save-button"/>
                   </form>        
                   <div class="profile-bio-edit-message"></div>           
                   <div class="profile-bio-edit-button">Edit this bio!</div>
               {% endif %}   	           
	        </div>
        </div>
        <div class="reckonings-list-box tab-box">
            <div class="reckoning-tabs">
                <div class="reckoning-tab reckoning-tab-left {% if tab == "reckonings" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=reckonings">Reckonings!</a></h3>
                </div>
                <div class="reckoning-tab {% if tab == "votes" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=votes">Votes!</a></h3>
                </div>
                <div class="reckoning-tab {% if tab == "comments" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=comments">Comments!</a></h3>
                </div>
                <div class="reckoning-tab reckoning-tab-right {% if tab == "tracking" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=tracking">Tracking!</a></h3>
                </div>      
                <div class="float-clear"></div>                          
            </div>
            <div class="reckonings-content-section">
                {% if tab == "reckonings" %}
	                {% for reckoning in reckonings %}
	                    {% include "reckoning_list_item.html" %}
	                    <hr class="reckoning-divider">
	                {% endfor %}
	            {% else %} {% if tab == "votes" %}
                    {% for reckoning in reckonings %}
                        {% include "reckoning_vote_list_item.html" %}
                        <hr class="reckoning-divider">
                    {% endfor %}    	            
	            {% else %} {% if tab == "comments" %}
                    {% for reckoning in reckonings %}
                        {% include "comment_list_item.html" %}
                    {% endfor %}  	            
	            {% else %} {% if tab == "tracking" %}                
                    {% for reckoning in reckonings %}
                        {% include "reckoning_list_item.html" %}
                        <hr class="reckoning-divider">
                    {% endfor %}	            
                {% endif %} {% endif %} {% endif %} {% endif %}
            </div>
            <div class="paging-section">
                {% include "paging_widget.html" %}
            </div>
        </div>
    </div>        
{% endblock %}

{% block javascript %}
{{ block.super }}
{% include "flag-favorite-edit-ajax.html" %}
  
<script type="text/javascript">

     $(function(){ 
        $(".profile-bio-edit-button").click(function(e) {
            e.preventDefault();
            
            $(".profile-bio-edit-button").hide();
            $(".bio-text").hide();
            $("#bio-edit-form").show();
            		  
               $(".user-bio-edit-field").ckeditor(
                       function () { /* Callback code */}, {
                           forcePasteAsPlainText: true,
                           skin: 'v2',
                           toolbar: 'Basic' 
                       }             
                 );   
        }); 
      });     
     
      $(function(){ 
          $("#bio-edit-form").submit(function(e) {
              e.preventDefault();
              var $form = $( this ),
                  userId = $form.find("input[name=user-id]").val(),
                  bio = $form.find("textarea[name=user-bio]"); 
              
              $.post("/ajax/user/bio/" + userId, bio.serialize(),
                     function(data) {                 
                        var message = $( data ).find( 'message_description' ),
                            success = $( data ).find( 'success' ).text();                   
                        $(".profile-bio-edit-message").empty().append(message);
                        
                        if (success.toLowerCase() === 'true') {
                            $(".bio-text").html(bio.val());
                            $(".bio-text").show();                            
                            $(".profile-bio-edit-button").show();  
                            $("#bio-edit-form").hide();                            
                        }
                     } 
                     , "xml")
          }); 
       });   
</script>
{% endblock %}

