{% extends "standard_sidebar.html" %}
{% load reckontags %}

{% block pagetitle %}The Reckoner! - User Profile: {{profile_user|get_user_name}}{% endblock %}

{% block fb-title %}"The Reckoner! - User Profile: {{profile_user|get_user_name}}"{% endblock %}
{% block fb-url %}"{{ SITE_ROOT }}{{ page_url }}"{% endblock %}
{% block fb-description %}"Take a look at the Reckoning history of our prized Reckonaut, {{profile_user|get_user_name}}!"{% endblock %}

{% block gplus-title %}"The Reckoner! - User Profile: {{profile_user|get_user_name}}"{% endblock %}
{% block gplus-description %}"Take a look at the Reckoning history of our prized Reckonaut, {{profile_user|get_user_name}}!"{% endblock %}

{% block canon-url %}"{{ SITE_ROOT }}{{ page_url }}"{% endblock %}

{% block extraheader %}
      <script src="{{ STATIC_URL }}js/ajax-post.js"></script>
      <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
      <script src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"> </script>
{% endblock %}

{% block main %}
    <div id="user-profile-page">
        {% if profile_user.id == user.reckoner_id %}
            <div class=page-header><h1>Howdy {% if profile_user.use_username %}{{profile_user.username}}{% else %}{{profile_user.first_name}}{% endif %}!</h1></div>
        {% else %}
            <div class=page-header><h1>Reckonaut {{profile_user|get_user_name}}!</h1></div>            
        {% endif %}
        <div class="profile-info-section">
            <div class="profile-overview profile-box">
	            <div class="profile-picture-wrapper"><img src="{{profile_user.profile_picture_url}}" alt="Reckonaut {{profile_user|get_user_name}}"></div>
	            <div class="poster-name">{{profile_user|get_user_name}}</div>
	            <div class="poster-links">
                    {% if profile_user.id == user.reckoner_id %}<div class="poster-link">(<span id="privacy-settings-link"><a href="">Privacy Settings</a></span>) <span class="profile-privacy-edit-message"></span></div>{% endif %}    	            
	                <div class="poster-link">(<a href="{{profile_user.profile_url}}">{{profile_user.auth_provider|lower}} Profile</a>)</div>
	            </div>
	            <div class="poster-dates">
	                <div class="label">Joined On:</div>
	                <div class="date">{{profile_user.first_login}}</div>
	            </div>           
            </div>
	        <div class="profile-stats">
	            <div class="profile-counts">
	                <div class="profile-count-box">
	                    <div class="count">{{ reckoning_count|condense_int }}</div>
	                    <div class="box-label">POST{% if reckoning_count != 1 %}S{%endif%}</div>
	                </div>
	                <div class="profile-count-box">
	                    <div class="count">{{ vote_count|condense_int }}</div>
	                    <div class="box-label">VOTE{% if vote_count != 1 %}S{%endif%}</div>
	                </div>
	                <div class="profile-count-box">
	                    <div class="count">{{ comment_count|condense_int }}</div>
	                    <div class="box-label-small">COMMENT{% if comment_count != 1 %}S{%endif%}</div>
	                </div>
	                <div class="profile-count-box">
	                    <div class="count">{{ tracking_count|condense_int }}</div>
	                    <div class="box-label-small">TRACKING</div>
	                </div>
	            </div>
	        </div>
	        <div class="profile-bio bio-box">
	           <div class="label">
	               Give us the details on how you became a Reckonaut!  Who'd play you in The Reckoner movie?
	           </div> 
	           <hr class="bio-divider">
	           <div class="bio-text">
                   {{profile_user.bio|safe}}
	           </div>
               {% if profile_user.id == user.reckoner_id or 'UPDATE_PROFILE_INFO' in perms %}
                   <form id="bio-edit-form" style="display: none">{% csrf_token %}
	                   <input type="hidden" name="user-id" value="{{profile_user.id}}">                        
	                   <textarea maxlength=1000 id="id_user-bio" name="user-bio" class="user-bio-edit-field">{% if profile_user.bio %}{{profile_user.bio}}{% endif %}</textarea>
	                   <input type="submit" name="save" value="Save" class="button save-button"/>
                   </form>        
                   <div class="profile-bio-edit-message"></div>           
                   <div class="profile-bio-edit-button">Edit this bio!</div>
               {% endif %}   	           
	        </div>
        </div>
        {% if profile_user.id == user.reckoner_id or not profile_user.hide_profile %}
        <div class="reckonings-list-box tab-box">
            <div class="reckoning-tabs">
                <div class="reckoning-tab reckoning-tab-left {% if tab == "reckonings" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=reckonings">Reckonings!</a></h3>
                </div>
                <div class="reckoning-tab {% if tab == "votes" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=votes">Votes!</a></h3>
                </div>
                <div class="reckoning-tab {% if tab == "comments" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=comments">Comments!</a></h3>
                </div>
                <div class="reckoning-tab reckoning-tab-right {% if tab == "tracking" %}reckoning-tab-selected{% endif %}">
                    <h3><a href="{{page_url}}?tab=tracking">Tracking!</a></h3>
                </div>      
                <div class="float-clear"></div>                          
            </div>
            <div class="reckonings-content-section">
                {% if tab == "reckonings" %}
	                {% for reckoning in reckonings %}
	                    {% include "reckoning_list_item.html" %}
	                    <hr class="reckoning-divider">
	                {% endfor %}
	            {% else %} {% if tab == "votes" %}
	                {% if profile_user.id == user.reckoner_id or not profile_user.hide_votes %} 
	                    {% for reckoning in reckonings %}
	                        {% include "reckoning_vote_list_item.html" %}
	                        <hr class="reckoning-divider">
	                    {% endfor %}
	                {% else %}
				        <div class="private-account-notice">
				            This user's voting activity is private.
				        </div>	                    
	                {% endif %}  	            
	            {% else %} {% if tab == "comments" %}
                    {% for reckoning in reckonings %}
                        {% include "comment_list_item.html" %}
                    {% endfor %}  	            
	            {% else %} {% if tab == "tracking" %}                
                    {% for reckoning in reckonings %}
                        {% include "reckoning_list_item.html" %}
                        <hr class="reckoning-divider">
                    {% endfor %}	            
                {% endif %} {% endif %} {% endif %} {% endif %}
            </div>
            <div class="paging-section">
                {% include "paging_widget.html" %}
            </div>
        </div>
        {% else %}
        <div class="private-account-notice">
            This user's account activity is private.
        </div>
        {% endif %}
    </div>
    
	<div id="privacy-dialog-form" title="The Reckoner! Privacy Settings!">
	    <div class="privacy-description-header">Here you can control what is visible to other users, Google, and Reckonbot.</div>
	
	    <form>
	        {% if profile_user.username %}
              <div class="privacy-description-subheader">Want to change the name used for all of this account's activity?</div>
		      <fieldset>
		          <div class="privacy-field">
		              <input type="radio" name="use_reckoner_name" id="use_facebook_name" value="false" class="use_facebook_name privacy-field" {% if not profile_user.use_username %} checked {% endif %} />
		              <label for="use_facebook_name">Use your Facebook name: ({{profile_user.first_name}} {{profile_user.last_name}})</label>
		          </div> <div class="privacy-field">
		              <input type="radio" name="use_reckoner_name" id="use_reckoner_name" value="true" class="use_reckoner_name privacy-field" {% if profile_user.use_username %} checked {% endif %} />
		              <label for="use_facebook_name">Use your Reckoner username: ({{profile_user.username}})</label>
		          </div>
		          <input type="hidden" name="user-id" id="privacy_user_id" value="{{profile_user.id}}">
		      </fieldset>
		      <div class="privacy-description-subnote">*Note: Change may take up to 30 minutes to propagate through the whole site.</div>
		    {% else %}
		      <div class="privacy-description-subheader">Want to change the name associated with your account?</div>
		      <div id="create-username-link"><a href="/">Click here to create a Reckoner username.</a></div>
		    {% endif %}
	    
	    <div class="privacy-description-subheader">Want to hide part of your user profile page?</div>
	    <fieldset>
	        <div class="privacy-field">
                <input type="checkbox" name="privacy_hide_votes" id="privacy_hide_votes" class="privacy-checkbox privacy-field" />
		        <label for="privacy_hide_votes">Hide your voting record from the public.</label>
            </div> <div class="privacy-field">
                <input type="checkbox" name="privacy_hide_profile" id="privacy_hide_profile" class="privacy-checkbox privacy-field" />
	            <label for="privacy_hide_profile">Hide your entire Reckoner history from the public.</label>
            </div>
            <input type="hidden" name="user-id" id="privacy_user_id" value="{{profile_user.id}}">
	    </fieldset>
	    </form>
	    
        <div class="privacy-description">
           <p>You can still view hidden profile data, but it will be hidden from other site users (and the world at large). You can also anonymize your individual votes via their Reckoning page.</p>
           <p>If you have any questions on your privacy settings, don't hesitate to <a href="/contact-us">contact us</a>!
           </p>
        </div>
	</div> 
	
    <div id="create-username-form" title="The Reckoner! Create a Username!">
        <div class="create-username-description">
           <p><b>Don't want your real name splashed all over The Reckoner?</b></p>
           <p>Here, you can attach a different username to your Reckoner profile and activity.</p>
        </div>
    
        <form>
            <div class="create-username-message"></div>        
	        <div class="create-username-field privacy-field">
	            <label for="create_username_username">Username:</label>
	            <input type="text" maxlength=32 id="create_username_username" name="username" class="create-username-text-field"/>
	        <input type="hidden" name="user-id" id="create_username_user_id" value="{{profile_user.id}}">
	        </div>
        </form>
        
        <div class="privacy-description">
           <p>This will retroactively apply to everything you've done on the site. You can also switch back to your Facebook/Google name at any time. </p>
           <p>Be careful though. Once you set this username, <b>you can't modify it.</b></p>
        </div>
        <div class="privacy-description-subnote">*Note: Change may take up to 30 minutes to propagate through the whole site.</div>
    </div> 
	      
{% endblock %}

{% block javascript %}
{{ block.super }}
{% include "flag-favorite-edit-ajax.html" %}
  
<script type="text/javascript">

     $(function(){ 
        $(".profile-bio-edit-button").click(function(e) {
            e.preventDefault();
            
            $(".profile-bio-edit-button").hide();
            $(".bio-text").hide();
            $("#bio-edit-form").show();
            		  
               $(".user-bio-edit-field").ckeditor(
                       function () { /* Callback code */}, {
                           forcePasteAsPlainText: true,
                           skin: 'v2',
                           toolbar: 'Basic' 
                       }             
                 );   
        }); 
      });     
     
      $(function(){ 
          $("#bio-edit-form").submit(function(e) {
              e.preventDefault();
              var $form = $( this ),
                  userId = $form.find("input[name=user-id]").val(),
                  bio = $form.find("textarea[name=user-bio]"); 
              
              $.post("/ajax/user/update/" + userId, bio.serialize(),
                     function(data) {                 
                        var message = $( data ).find( 'message_description' ),
                            success = $( data ).find( 'success' ).text();                   
                        $(".profile-bio-edit-message").empty().append(message);
                        
                        if (success.toLowerCase() === 'true') {
                            $(".bio-text").html(bio.val());
                            $(".bio-text").show();                            
                            $(".profile-bio-edit-button").show();  
                            $("#bio-edit-form").hide();                            
                        }
                     } 
                     , "xml")
          }); 
       }); 
      
       $(document).ready(function() {
    	    var current_hide_votes = {% if profile_user.hide_votes %}true{% else %}false{% endif %};
    	    var current_hide_profile = {% if profile_user.hide_profile %}true{% else %}false{% endif %};
    	   
    	    var $dialog = $('#privacy-dialog-form')
    	        .dialog({
    	            autoOpen: false,
    	            height: 520,
    	            width: 500,
    	            modal: true,
    	            title: 'The Reckoner! Privacy Settings!',
    	            buttons: {
    	                "Save": function() {
    	                	userId = $('#privacy_user_id').val();
    	                	hide_votes = $('#privacy_hide_votes').is(':checked');
                            hide_profile = $('#privacy_hide_profile').is(':checked');
                            use_username = $('#use_reckoner_name').is(':checked');
    	                	
    	                    $.post("/ajax/user/update/" + userId, "hide_votes=" + hide_votes.toString() + "&hide_profile=" + hide_profile.toString() +
    	                    		"&use_username=" + use_username,
    	                            function(data) {                 
    	                               var message = $( data ).find( 'message_description' ),
    	                                   success = $( data ).find( 'success' ).text();  
                                       $(".profile-privacy-edit-message").empty().append(message);    
    	                               
    	                               if (success.toLowerCase() === 'true') {	                            	   
    	                                   current_hide_votes = hide_votes;
    	                                   current_hide_profile = hide_profile;
    	                               }
    	                            } 
    	                            , "xml")    	                	
    	                	
    	                    $( this ).dialog( "close" );  	                    
    	                },
    	                Cancel: function() {                	
    	                    $( this ).dialog( "close" );
    	                }
    	            },
    	        });

    	    $('#privacy-settings-link').click(function() {
                $('#privacy_hide_votes').attr('checked', current_hide_votes);
                $('#privacy_hide_profile').attr('checked', current_hide_profile);   
    	        $dialog.dialog('open');
    	        // prevent the default action, e.g., following a link
    	        return false;
    	    });
    	});
       
       $(document).ready(function() {          
           var $dialog = $('#create-username-form')
               .dialog({
                   autoOpen: false,
                   height: 420,
                   width: 400,
                   modal: true,
                   title: 'The Reckoner! Create a Username!',
                   buttons: {
                       "Create": function() {
                           userId = $('#create_username_user_id').val();
                           username = $('#create_username_username').val();
                           
                           $.post("/ajax/user/update/" + userId, "username=" + username + "&use_username=" + "true",
                                   function(data) {                 
                                      var message = $( data ).find( 'message_description' ),
                                          success = $( data ).find( 'success' ).text();  
                                      $(".create-username-message").empty().append(message);    
                                      
                                      if (success.toLowerCase() === 'true') {    
                                          location.reload();
                                          $( this ).dialog( "close" );    
                                      }
                                   } 
                                   , "xml")                                               
                       },
                       Cancel: function() {                    
                           $( this ).dialog( "close" );
                       }
                   },
               });

           $('#create-username-link').click(function() {
               $dialog.dialog('open');
               // prevent the default action, e.g., following a link
               return false;
           });
       });
</script>
{% endblock %}

